/* Base - base, mixin , normalize , variabbles */

@import 'sass/base/_base.scss';
@import 'sass/base/_variables.scss';
@import 'sass/base/_mixins.scss';
@import 'sass/base/_normalize.scss';


/* Modules - Individual site components */
@import 'sass/modules/_typoraphy.scss';
@import 'sass/modules/_hr.scss';
@import 'sass/modules/_title.scss';
@import 'sass/modules/_blocks.scss';
@import 'sass/modules/_button.scss';
@import 'sass/modules/_input.scss';
@import 'sass/modules/_components.scss';
@import 'sass/modules/_sections.scss';


/* Layout - Page layout styles */
@import 'sass/layout/_editor.scss';
@import 'sass/layout/_home.scss';
@import 'sass/layout/_case-study.scss';
@import 'sass/layout/_sidebar.scss';
@import 'sass/layout/_service.scss';
@import 'sass/layout/_header.scss';
@import 'sass/layout/_nav.scss';
@import 'sass/layout/_footer.scss';
@import 'sass/layout/_page-404.scss';
@import 'sass/layout/_about-us.scss';
@import 'sass/layout/_contact.scss';

*{
	margin: 0;
	padding: 0;
}


@media only screen and (max-width : 1200px) {
	
}
@media only screen and (max-width : 992px) {
}	
@media only screen and (max-width : 768px) {
	
} 
@media only screen and (max-width : 480px) {

}




