.banner-inner{
	position: relative;
}
.img-responsive{
	margin: 0 auto;
}
.caption-banner{
	position: absolute;
	top: 125px;
	&--left{
		left: 15%;
		text-align: left;
	}
	&--right{
		right: 10%;
		text-align: right;
	}

}
.product-deltail__slider{
	position: relative;
}
.swiper-lazy{
	max-width: 100%;
	margin: 0 auto;
	display: block;
}




/*======= phần cho product =======*/
.product-small{
	position: relative;
	&:hover .hover-product{
		visibility: visible;
		opacity:1;
	}
	&:hover .button-next{
		opacity:1;
		visibility: visible;
	}
	&:hover .button-prev{
		opacity:1;
		visibility: visible;
	}
	.btn--danger{
	}
}
.product-small__header{
}
.product-price {
   padding: 15px;

}
.product-small__mid{
	position: relative;
}


// phần hover
.hover-product{
	position: absolute;
	top: 0%;
	left: 0;
	transition:all 0.3s;
	opacity:0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	background-color: $color-bg-thumbnail;
}
.hover-product__mid{
	font-size: $font-size-xxs;
}

.product__icon{
	display: inline-block;
	.icon{
		font-size: 18px;
	}
	.icon-compare{
		margin-right: 5px;
	}
}

.hover-product__bot{
	padding-left: 15px;
}
// end product
.caption-signup{
	margin-top: 90px;
}



.block--thumbnail{
	.img-wapper {
		width: 50%;
	}
	.block__caption{
		width: 50%;
		position: relative;
		a{
			position: absolute;
			top: 50%;
			left: 0;
			@include transform(translate,0,-50%);
		}
	}
 	img{
 		width: 70%;
 		display: inline-block;
 	}
}
