.btn{
	text-transform: capitalize;
	@include btn(big);
	&--primary{
		@include style-btn($color-white,$color-primary,2px);
	}
	&--secondary{
		@include style-btn($color-white,$color-secondary,2px);
	}
	&--danger{
		@include style-btn($color-white,$color-danger,2px);
	}
	&--default{
		@include style-btn($color-white,$color-default,2px);
	}
	&--black{
		@include style-btn($color-white,$color-black,2px);
	}
	&--border{
		@include add-border(1px, $color-secondary, top-bottom, solid);
		@include style-btn($color-secondary,transparent,0);
		padding: 7px;
		display: inline-block;
	}
	&.btn-small{
		text-transform: capitalize;
		@include btn(small);
	}
}
.btn--nav{
	.icon-hambuger-dots{
		padding: 0 5px;
	}
}
.btn-pointer{
	position: relative;
	opacity:0.7;
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 30%;
		width: 0;
		height: 0;
		border: 20px solid transparent;
		border-top-color: $color-black;
		border-bottom: 0;
		margin-left: -20px;
		margin-bottom: -20px;
	}
}
.see-more{
	position: absolute;
    top: 2px;
    right: 100px;
	z-index: 999;
	@include tablet() {
		right: 100px;
	}
	@include mobile() {
		top: 89%;
    	right: 7%;
	}
}
.sale{
	&--danger{

	}
}
.slider-product-small{
	.button-next, .button-prev{
		opacity:0;
	}
}

.btn--close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 999;
    transition: transform .25s ease-in-out;
}
.btn--close:hover {
    transform: rotate(180deg);
}
.btn--close:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 15px;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    transform: rotate(45deg);
    transform-origin: center;
}
.btn--close:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 15px;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    transform: rotate(-45deg);
    transform-origin: center;
}
/*======================btn-close--cicle====================*/
.btn-close--cicle{
	width: 35px;
	height: 35px;
	background-color: $color-gray;
	font-size: 20px;
	color: $color-default;
	border-radius: 50%;
	display: inline-block;
	line-height: 35px;
	position: relative;

	&:hover{
		background-color: $color-danger;
		&:before, &:after{
			background-color: $color-white;
		}

	}
	&:before, &:after {
	    content: '';
	    position: absolute;
	    height: 2px;
	    width: 20px;
	    top: 50%;
	    left: 50%;
	    margin-left: -10px;
	    margin-top: -1px;
	    background: $color-default;
	}
	&:before{
		webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
	}
	&:after{
		webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
}
/*======================btn-update__cart====================*/
.btn-update__cart{
	background:transparent;
	color: $color-secondary;
	border: none;
}
/*======================btn-back-to-shop====================*/
.btn-back-to-shop{
}
.btn-back-to-shop span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-back-to-shop span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
}

.btn-back-to-shop:hover span {
  @include transform($position:translate,$x:-10px,$y:0);
}

.btn-back-to-shop:hover span:after {
  opacity: 1;
  right: 0;
}