.order-info table td:last-child, .order-info table th:last-child{
	text-align: right;
}

.swiper-container-horizontal {
    overflow: hidden;
    position: relative;
}
.new-products, .sale-products{
	position: relative;
}
.checked{
	color: $color-yellow;
}
.filter--select__right{
	display: inline-block;
	select{
		width: 100px;
		height: 35px;
	}
}
.form-new__address {
	display: none;
}
.product-slider{
	position: relative;
}
.slider-tooltip{
	@include btn(big);
	@include style-btn($color-white,$color-black,3px);
	&--bottom{
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			left:20%;
			width: 0;
			height: 0;
			border: 20px solid transparent;
			border-top-color: #00aabb;
			border-bottom: 0;
			margin-left: -20px;
			margin-bottom: -20px;
		}
	}
	&--top{	
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			width: 0;
			height: 0;
			border: 20px solid transparent;
			border-bottom-color: #00aabb;
			border-top: 0;
			margin-left: -20px;
			margin-top: -20px;
		}
	}
	
}
.group-social{
	span{
		width: 35px;
		height: 35px;
		border-radius: 50%;
		text-align: center;
		line-height: 35px;
		@include mobile-xs() {
			width: 25px;
			height: 25px;
			line-height: 25px;
		}
	}
}
.product-group__item{
	position: relative;
	width: 100%;
	.product-group__item--detail{
		position: absolute;
		top: 50%;
		left: 50%;
	}
}

.mid-header__icon{
	display: inline-block;
	padding: 0 5px;
	margin-top: 5px;
	cursor: pointer;
	.icon{
		font-size: 24px;
	}
}

// .overlay{
// 	display: none;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	background-color: rgba(0, 0, 0, 0.27);
// 	z-index: 99;
// }
.icon{
	cursor: pointer;
}

/*========= grid-slider-2 =========*/
.grid-slider-2{
	.left-products.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
		right: 18%;
		left: auto;
	}
	.right-products.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
		left: 18%;
	}
	.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
		bottom: 5px;
		width: auto;
	}
}	
/*========= block--thumbnail-border =========*/	
.block--thumbnail-border{
	position: relative;
	height: 100%;
	&:after{
		content: "";
		display: block;
		width: 1px;
		height: 32px;
		background-color: $color-primary;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -16px;
	}
}
.icon-wapper{
	@include tablet() {
		margin-bottom: 20px;
		text-align: center;
	}
}
/*========= loading =========*/	


$base-line-height: 24px;
$off-white: rgba($color-black, 0.2);
$spin-duration: 1s;
.product__loading{
	width: 100%;
	min-height: 120px;
	opacity:0.6;
	@include flex-center();
}
.loading {
    border-radius: 50%;
    width: $base-line-height;
    height: $base-line-height;
    border: .25rem solid $off-white;
    border-top-color: $color-black;
    animation: spin $spin-duration infinite linear;
    position: absolute;
  &--double {
    border-style: double;
    border-width: .5rem;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
/*========= show left , right =========*/	
.repsonsive-left{left: -100%}
.repsonsive-right{
	right: -100%;
	.sidebar-responsive__content{
		position: absolute;
		right: 0;
	}
}
.show-left{
	left: 0!important;
	transition:all 0.5s;
}
.show-right{
	right: 0!important;
}

/*======================default form====================*/
.checkbox label, .radio label{
	padding-left: 0;
}
.form-horizontal .form-group{
	margin-right: 0px;
	margin-left: 0px;
}
.group-form.form-horizontal .form-group{
	margin-right: 0px;
	margin-left: 0px;
}
.group-form{
	.provincial{
		width: 58.33333333%;
	}
	.form-txt{
		width: 20%;
	}
	.form-content{
		width: 80%;
	}
	input, select{
		width: 100%;
		height: 35px;
	}
}
.span.btn.btn-small.btn--danger.w-700{

}

/*======================product--gallery====================*/

.product--gallery{
	width: 100%;
}

.gallery--thumbnail__item{
	width: 25%;
}
.product--gallery__slide{

}
.product--gallery{
	height: 365px;
}
.swiper-slide {
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
.product--gallery__thumbnail{
	cursor: pointer;
	height: 100px;
}

.product--info{
	padding-bottom: 15px;
	border-bottom:1px $color-secondary solid;
	h1{
		margin-bottom: 0;
	}
}

/*======================product-info====================*/
.product-info{
	@include mobile() {
		margin-bottom: 30px;
	}
}
.form--cart{
	margin-top: 15px;
	@include mobile() {
		margin-top: 30px;
	}
	.btn-group{
		.btn{
			padding:0;
		}
	}
	.btn-cart, .btn-wishlist{
		border-radius: 3px;
		padding:6px 22px;
		min-width: 68px;
	}
}
/*======================panel-review====================*/

.panel-review{
	.list-reply{
		margin-left: 30px;
	}
}



/*======================specifications__content====================*/
.specifications__content{
	padding-left: 15px;
	overflow-y:auto;
	height: 100%;
	@include mobile() {
		padding-left: 0;
	}
} 

/*======================form====================*/
td.product-name {
    max-width: 250px;
}
.cart-wrapper{
	th{
		line-height: 100%;
	}
}
.flow-cart-form__cart-item{
	.block-mt{
		display: inline-block;
		margin-bottom: 40px;
	}
}
.form-horizontal .radio{
	@include mobile() {
		margin-left: 20px;
	}
}
.form-group{
	position: relative;
}
.product-gallery{
	.slides{
		li{
			img{
				padding: 55px;
				@include  add-border($size:1px, $color:$color-gray, $position:all, $type:solid );
			}
		}
	}	
}
.product-gallery__thumbnail{
	.slides{
		li{
			img{
				padding: 15px;
				@include  add-border($size:1px, $color:$color-gray, $position:all, $type:solid );
			}
		}
	}
}
.select-side{
	pointer-events: none;
	position: absolute;
	top: 50%;
	right: 2px;
	width: 30px;
	text-align: center;
	background-color: $color-white;
	@include  transform($position:translate,$x:0,$y:-50%);
}
.form-select{
	width: 90px;
}
select.form-control{
	border-color: $color-secondary;
	
}

.input-number{
  	width: 30px;
  	vertical-align: top;
  	text-align: center;
  	outline: none;
  	font-weight: 500;
}
.product-quantity{
	.btn{
		padding: 0;
	}
}
.input-number,
.input-number-decrement,
.input-number-increment{
  border: 1px solid $color-secondary;
  height: 30px;
  user-select: none;}

.input-number-decrement,
.input-number-increment{
  display: inline-block;
  width: 30px;
  line-height: 30px;
  background: $color-white;
  color: $color-secondary;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  &:active{
    background: #ddd
  }
}
.input-number-decrement{
  border-right: none;
  
}

.input-number-increment{
  border-left: none;
  &:first-child{
  	border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  &:last-child{
  	border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

/*======================flexslider====================*/
.sidebar-local{
	display: none;
}
/*======================flexslider====================*/
.flexslider{
	.icon-right, .icon-left{
		position: absolute;
		top: 50%;
		@include  transform($position:translate,$x:0,$y:-50%);
		z-index: 9999;
	}
	.icon-left{
		left: 0;
	}
	.icon-right{
		right: 0;
	}
}
.flex-direction-nav  .flex-next{
	text-align: left;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E")
}
.flex-direction-nav  .flex-prev{
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E")
}

.flex-direction-nav a{
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: -999px;
	color: transparent;
	&:before{
		display: none;
	}
}
/*======================nav-product__content====================*/
.nav-product__content{
	padding:15px;
	@include  add-border($size:1px, $color:$color-gray, $position:all, $type:solid );
}
/*======================tab====================*/


.tab--content{
	.tab-item{
		display: none;
		&.active{
			display: block;
		}
	}
} 

/*======================shop_table====================*/
.table--heading{
	padding: 15px 25px;
}
.compare__product-info{
	padding: 40px 20px;
	

	.carousel-indicators{
		bottom: -15px;
	}
	.carousel{
		padding: 30px 0;
	}
	.carousel-inner{
		.item{
			
		}
	}
}

.compare__content{
	table{
		tr{
			td{
				.img-wapper{
					img{
						width: 150px;
						margin:0 auto;
						display: block;
					}
				}
			}
			td:first-child{
				min-width: 120px;
			    width: 200px;
			    vertical-align: middle;
			}
		}
	}
}
th.product-price, td.product-price{
	@include mobile() {
		display: none;
	}
}
.shop_table .cart_item td {
    padding-top: 15px;
    padding-bottom: 5px;
}
.product-thumbnail{
	min-width: 60px;
    max-width: 90px;
    width: 90px;
    position: relative;
}
.product-remove{
	text-align: center;
	margin-top: 10px;
	.remove{
		width: 20px;
	    height: 20px;
	    background-color: $color-default;
	    display: inline-block;
	    line-height: 20px;
	    text-align: center;
	    border-radius: 50%;
	    color: $color-white;
	}
}

/*======================popup-cart====================*/
.mid-header__icon{
	position: relative;
}
.mid-header__icon:hover .popup-cart{
	opacity:1;
	visibility: visible;
	@include transform($position:translate,$x:0,$y:0);
}
.popup-cart__close {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: gray;
    top: 50%;
    right: 5px;
    margin-top: -5px;
    color: white;
    line-height: 10px;
    font-size: 7px;
    text-align: center;
}
.popup-cart{
	position: absolute;
	background-color: $color-white;
	top: 45px;
    left: -35px;
	border-radius: 3px;
	padding: 2px 2px 0 2px;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 15px rgba(0,0,0,0.15);
	opacity:0;
	visibility: hidden;
	transition:all 0.5s;
	@include transform($position:translate,$x:0,$y:50px);
	.popup-cart__item{
		padding: 10px 20px 20px 10px;
		position: relative;
	}
	.popup-cart__thumbnail{
		width: 20%;
		img{

		}
	}
	.popup-cart__desc{
		width: 80%;
		padding-left:10px;
		p{
			line-height: 120%;
		}
	}
	.popup-cart__total{
		padding: 7px;
		margin-bottom: 10px;
	}
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-bottom-color: $color-white;
		border-top: 0;
		margin-left: -50px;
		margin-top: -10px;
	}
	.popup-cart__btn{
		.btn{
			width: 100%;
			margin-bottom: 5px;
		}
	}
}


/*======================product====================*/
.product-info{
	margin-bottom: 40px;
}
.product__title{
	width: 70%
}
.product__new{
	width: 30%;	
	.btn{
		max-width: 100%;
	}
}
.product-small{
	background: $color-bg-thumbnail;
	min-height: 440px;
	margin-top: 30px;
}
.product-small__mid{
	.img-wapper{
		padding: 10px 60px;
	}
}

/*======================specifications__item====================*/
.specifications__item{
	max-height: 520px;
}
/*======================sidebar-shipping====================*/
.sidebar-shipping{
	.btn-cart, .btn-wishlist{
		border-radius: 3px;
		padding: 5px 10px;
		min-width: 80px;
		min-height: 40px;	
		span{
			vertical-align: -webkit-baseline-middle;
			vertical-align: baseline-middle;
		}
	}
}
.sidebar-shipping__content{
	border-radius: 3px;
}
.option-shipping, .type-shipping, .info-shipping{
	@include  add-border($size:1px, $color:$color-arrow, $position:bottom, $type:solid );
	padding: 20px;
	p{
		display: inline-block;
		line-height: 125%;
		font-weight: 500;
	}
}
.info-shipping{
	border: none;
	padding-right: 5px;
	.info-shipping__item{
		margin-bottom: 10px;
		&:after{
			display: block;
			content:'';
			clear: both;
		}
		.icon{
			text-align: center;
			width: 15%;
			float: left;
		}
		.desc{
			float: left;
			width: 85%;
			padding-left: 10px;
		}
	}
	

}
.type-shipping__saving{

}

.type-shipping__block{
	width: 20%;
	display: inline-block;
	vertical-align: top;
}

.type-shipping__info{
	width: 56%;
	display: inline-block;
	line-height: 120%;

}


.accordion-toggle{
	&:after{
	    font-family: 'Glyphicons Halflings';
	    content: "\e114";
	    float: right;
	    color: grey;
	}
}