.product--upsale{
	h5, span, p{
		font-size: $font-size-xxs;

	}
	.icon-compare{
		span{
			font-size: 18px;
		}
	}
	.btn{
		width: 100%;
		padding: 0;
	}
}
.banner-300{
	height: 300px;
	position: relative;
}
.banner-signup{
	background-size: cover;
}
.banner-signup-envelope{
	padding: 50px 0;
}
.new-products{
	.caption-inner{	
		width: 100%;
	}	
}
.grid-slider-2{
	.swiper-button-next, .swiper-button-prev{
		top:70%;
	}
}
.banner-slider{
	.swiper-button-next, .swiper-button-prev{
		background-size: 15px 30px;
		background-color: #7c7c7c;
		width: 34px;
		height: 40px;
		opacity:0.8;
	}
}
.slider-gird-4, .slider-product__images{
	position: static;
	
}
.swiper-grid-next, .swiper-grid-prev{
	top: 20px;
	z-index: 9999;
}
.swiper-grid-next{
	right: 0px;
	left: auto;
}
.swiper-grid-prev{
	right: 40px;
	left: auto;
}
@include tablet() {
	.swiper-grid-next{
		right: 15px;
	}
	.swiper-grid-prev{
		right: 50px;
	}
}
@include mobile() {
	.swiper-grid-next, .swiper-grid-prev{
		top: 3%;
	}
}