
.title{
	&--white{
		color: $color-white;
	}
	&--danger{
		color: $color-danger;
	}
	&--primary{
		color: $color-primary;
	}
	&--secondary{
		color: $color-secondary;
	}
	&--default{
		color: $color-default;
	}
	&--b-white{
		border-bottom: 2px solid $color-white;
	}
	&--b-danger{
		border-bottom: 2px solid $color-danger;
	}
	&--b-primary{
		border-bottom: 2px solid $color-primary;
	}
	&--b-secondary{
		border-bottom: 2px solid $color-secondary;
	}
	&--b-default{
		border-bottom: 2px solid $color-gray-2;
	}
}
.title{
	
}