.typoraphy{
	.icon-mail{
		font-size: 15px;
	}
}
body{
	font-size: $font-size-xs;
	font-family: $font-family-1;
	line-height: 150%;
	font-weight: 400;
	@include tablet() {
		font-size: $font-size-mobile-xs;
	}
	@include mobile() {
		font-size: $font-size-mobile-xs;
	}
}
article{
	overflow: hidden;
}
blockquote{
	font-size: $font-size-xs
}
label{
	font-weight: 400;
}
table{
	width: 100%;
	line-height: 200%;
}
p{
	margin: 0;
}
.content li > ul, .content li > ol{
	margin-left: 20px;
}
ul{
	list-style: none;
}
.icon-mail{
	font-size: 110px;
	color: $color-white;
}
.font--default{
	font-family: $font-family-1;
}
.font--title{
	font-family: $font-family-2;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	 font-family: $font-family-2;
	 line-height: 150%;
	 font-weight: 700;
}
h6{
	font-size: $font-size-xs;
	@include tablet() {
		font-size: $font-size-mobile-xs;
	}
}
h5{
	font-size: $font-size-xs;
	@include tablet() {
		font-size: $font-size-mobile-xs;
	}
}
h4{
	font-size: $font-size-sm;
	@include tablet() {
		font-size: $font-size-mobile-sm;
	}
}
h3{
	font-size: $font-size-md;
	@include tablet() {
		font-size: $font-size-mobile-md;
	}
}
h2{
	font-size: $font-size-lg;
	@include tablet() {
		font-size: $font-size-mobile-lg;
	}
}
h1{
	margin-bottom: 10px;
	font-size: $font-size-xl;
	@include tablet() {
		font-size: $font-size-mobile-xl;
	}
}
a{
	color: $color-black;
	&:hover{
		color: $color-black;
		text-decoration: none;
	}
}
.fa-1{
	font-size: $font-size-xxs;
	@include tablet() {
		font-size: $font-size-mobile-xs;
	}

}
.fa-2{
	font-size: $font-size-sm;
	@include tablet() {
		font-size: $font-size-mobile-sm;
	}	
}
.fa-3{
	font-size: $font-size-md;
	@include tablet() {
		font-size: $font-size-mobile-md;
	}
}
.fa-4{
	font-size: $font-size-lg;
	@include tablet() {
		font-size: $font-size-mobile-lg;
	}
}
.fa-5{
	font-size: $font-size-xl;
	@include tablet() {
		font-size: $font-size-mobile-xl;
	}
}
.fa-24{
	font-size: 1.846153846153846vw;
	line-height: 2.769230769230769vw;
	@include tablet() {
		font-size: 20px;
		line-height:30px;
	}
}


.w-100{font-weight: 100}
.w-200{font-weight: 200}
.w-300{font-weight: 300}
.w-400{font-weight: 400}
.w-500{font-weight: 500}
.w-600{font-weight: 600}
.w-600{font-weight: 600}
.w-700{font-weight: 700}
.w-700{font-weight: 700}
.w-bold{font-weight: bold}

.text-center{
	text-align: center!important;
	&--xs{
		@include mobile() {
			text-align: center!important;
		}
	}
	&--sm{
		@include tablet() {
			text-align: center!important;
		}
	}
	&--md{
		@include tablet-pro() {
			text-align: center!important;
		}
	}
}
.text-right{
	text-align: right!important;
	&--xs{
		@include mobile() {
			text-align: right!important;
		}
	}
	&--sm{
		@include tablet() {
			text-align: right!important;
		}
	}
	&--md{
		@include tablet-pro() {
			text-align: right!important;
		}
	}
}
.text-left{
	text-align: left!important;
	&--xs{
		@include mobile() {
			text-align: left!important;
		}
	}
	&--sm{
		@include tablet() {
			text-align: left!important;
		}
	}
	&--md{
		@include tablet-pro() {
			text-align: left!important;
		}
	}
}
.add-bgcolor{
	&--white{
		background-color: $color-white;
	}
	&--primary{
		background-color: $color-primary;
	}
	&--secondary{
		background-color: $color-secondary;
	}
	&--danger{
		background-color: $color-danger;
	}
	&--default{
		background-color: $color-default;
	}
	&--yellow{
		background-color: $color-yellow;
	}
	&--thumbnail{
		background-color: $color-bg-thumbnail;
	}
	
}
.add-color{
	&--primary{
		color: $color-primary;
	}
	&--secondary{
		color: $color-secondary;
	}
	&--white{
		color: $color-white;
	}
	&--danger{
		color: $color-danger;
	}
	&--default{
		color: $color-default;
	}
	&--yellow{
		color: $color-yellow;
	}
	&--gray{
		color: $color-gray;
	}
}
