section.sign-up-mail.banner-signup-envelope.add-bgcolor--primary
	.container
		.row
			.col-md-6.col-md-offset-0.col-lg-offset-1.mt-2
				.row
					.icon-wapper.col-sm-4
						span.icon-mail
					.desc.col-sm-8
						h1.title--white.text-capitalize đăng ký là thành viên 
						p.add-color--white
							| Đăng ký là thành viên tại Gia Thành để được nhận  nhiều thông tin ưu đãi và quà tặng khuyến mãi.
			.col-md-6.col-lg-5.mt-2
				.caption-signup-envelope
					h5.title--white.mb-2 Email của bạn
					form
						.input-group(data-mh='input-btn')
							input.form-control.main-ip(type='text', placeholder='')
							.input-group-btn
								button.btn.btn--secondary(type='submit')
									| Đăng Ký
		.hr-bottom
	footer.add-bgcolor--primary.pt-5.pb-5
		.container
			.row
				.col-md-2.col-sm-6.col-xs-6.box-footer(data-mh='footer-item')
					h5.title--white.text-capitalize.mb-1 Thông Tin
					ul.add-color--white
						li
							a(href='') Hướng dẫn mua hàng
						li
							a(href='') Đặt hàng và thanh toán
						li
							a(href='') Chính sách vận chuyển
						li
							a(href='') Chính sách bảo hành
						li
							a(href='') Chính sách đổi trả
						li
							a(href='') Chính sách bảo mật thông tin
						li
							a(href='') Quy chế Sàn giao dịch
							
				.col-md-2.col-sm-6.col-xs-6.box-footer(data-mh='footer-item')
					h5.title--white.text-capitalize.mb-1 Sản phẩm hot
					ul.add-color--white
						li
							a(href='') Tủ lạnh
						li
							a(href='') Máy giặt
						li
							a(href='') Máy lạnh
						li
							a(href='') Tủ đông
						li
							a(href='') Tủ mát
				.col-md-5.col-sm-6.col-xs-12.box-footer(data-mh='footer-item')
					h5.title--white.text-capitalize.mb-1 Giới thiệu
					ul.add-color--white
						li
							| CÔNG TY TNHH THƯƠNG MẠI GIA THÀNH. Địa chỉ: 963 - 969 – 975 Trần Hưng Đạo, P5, Q.5 Tp. Hồ Chí Minh MST: 0302270002
						li
							strong Email
							| : trungtammuasamgiathanh@gmail.com
						li
							strong Hotline
							| : 0966 969 975 - 028.39231538
						li
							| Giấy chứng nhận ĐKKD số: 0302270002 do Sở KH & ĐT TPHCM cấp lần đầu ngày 06/04/2001. Người đại diện: Ông Trương Kính Minh.
				.col-md-3.col-sm-6.col-xs-12.box-footer(data-mh='footer-item')
					h5.title--white.text-capitalize.mb-1 Kết Nối Với Chúng Tôi
					.group-social.mb-1
						span.fa.fa-facebook.btn--secondary
						span.fa.fa-google-plus.btn--secondary
						span.fa.fa-youtube.btn--secondary
						span.fa.fa-twitter.btn--secondary
					ul.add-color--white
						li Lorem ipsum dolor sit amet. 
						li Vestibulum et ex feugiat.  Nullam 
						li Lorem ipsum dolor sit amet.
	.popup_cart
