header.pb-1.add-bgcolor--primary.hidden__md.header-default
	.container
		nav.navbar.top-menu
			.container-fluid
				.navbar-header
				ul.nav.navbar-nav
				ul.nav.navbar-nav.navbar-right.hidden__xs
					li.active
						a(href='#') Trang Chủ
					li.dropdown
						a.dropdown-toggle(data-toggle='dropdown', href='#') Sản Phẩm Mới
					li
						a(href='#') Sản Phẩm Trọn Gói
					li
						a(href='#') Sản Phẩm Khuyến Mãi
		.mid-header
			.row
				.col-md-3.col-sm-6
					.img-wapper
						a(href='home.html')
							img(src='images/logo.png', alt='')
				.col-sm-6.col-md-3.mt-1
					.nav-sidebar
						a.btn.btn--secondary.btn--nav(href='')
							span.icon-hambuger-dots
							| Danh Mục Sản Phẩm
						ul.menu-sidebar.text-capitalize
							li
								ul.sub-1.col-xs-2
									li.nav-hover.active
										a(href='')
											| Điện Tử 
											i.fa.fa
										ul.sub-2
											li
												h5
													a(href='') laptop
												ul.sub-3
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
											li
												h5
													a(href='') PC
												ul.sub-3
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
											li
												h5
													a(href='') desktop
												ul.sub-3
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
											li
												h5
													a(href='') Điện thoại
												ul.sub-3
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
											li
												h5
													a(href='') tablet
												ul.sub-3
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
									li.nav-hover
										a(href='') Điện Gia Dụng
										ul.sub-2
											li
												h5
													a(href='') laptop
												ul.sub-3
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
											li
												h5
													a(href='') PC
												ul.sub-3
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
											li
												h5
													a(href='') desktop
												ul.sub-3
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
											li
												h5
													a(href='') Điện thoại
												ul.sub-3
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
													li Lorem ipsum dolor sit.
									li.nav-hover
										a(href='') nội thất
										ul.sub-2
											li
									li.nav-hover
										a(href='') thời trang
										ul.sub-2
											li
									li.nav-hover
										a(href='') kỹ thuật số
										ul.sub-2
											li
									li.nav-hover
										a(href='') sức khỏe
										ul.sub-2
											li
									li.nav-hover
										a(href='') văn phòng
										ul.sub-2
											li
				.col-sm-12.col-md-4.mt-1
					form
						.input-group(data-mh='input-btn')
							input.form-control.main-ip(type='text')
							.input-group-btn
								button.btn.btn--secondary(type='submit')
									i.glyphicon.glyphicon-search
				.col-sm-6.col-md-2.mt-1
					ul.header-list-icon
						li.mid-header__icon.header__cart
							span.icon-cart.icon.add-color--white
							.popup-cart
								.popup-cart__item.add-border--bottom-g
									.popup-cart__thumbnail.pull-left
										img.img-responsive(src='images/may-anh-lon.jpg', alt='')
									.popup-cart__desc.pull-left
										p
											a.fa-1.text-capitalize(href='') tủ lạnh
										p.fa-1.w-700
											span.cart-number 2 ×
											span.cart-price 1,859,000 VNĐ
									span.popup-cart__close x
									.clearfix
								.popup-cart__item.add-border--bottom-g
									.popup-cart__thumbnail.pull-left
										img.img-responsive(src='images/may-anh-lon.jpg', alt='')
									.popup-cart__desc.pull-left
										p
											a.fa-1.text-capitalize(href='') tủ lạnh
										p.fa-1.w-700
											span.cart-number 2 ×
											span.cart-price 1,859,000 VNĐ
									span.popup-cart__close x
									.clearfix
								.popup-cart__total.add-border--bottom-g.text-center
									p.fa-1
										| Tổng Cộng : 
										span.add-color--secondary.w-700 3,718,000 VNĐ
								.popup-cart__btn
									a.btn.btn--secondary.btn-cart.fa-1(href='') Xem Giỏ Hàng
									a.btn.btn--secondary.btn-checkout.fa-1(href='') Thanh Toán
						li.mid-header__icon.header__wishlist
							span.icon-heart.icon.add-color--white
						li.mid-header__icon.header__user
							span.icon-user.icon.add-color--white
header.header-mobile.add-bgcolor--primary.pt-2.pb-2.show__md.hidden
	.row
		.col-xs-4.sidebar__icon.text-left
			span.btn-responsive--left.btn-responsive.ml-2(data-responsive='#sidebar-repsonsive--nav')
				span.fa.fa-navicon
				span
		.col-xs-4
			.log-responsive
				img.img-responsive(src='images/logo.png', alt='')
		.col-xs-4.sidebar__icon.text-right
			span.btn-responsive--right.btn-responsive.mr-2(data-responsive='#sidebar-repsonsive--cart')
				span.icon-cart.icon
#sidebar-repsonsive--nav.sidebar-repsonsive.repsonsive-left
	.sidebar-responsive__content
		.btn--close
		nav.menu-responsive
			ul
				li
					a(href='') Trang Chủ
				li
					a(href='') Sản Phẩm Mới
				li
					a(href='') Sản Phẩm Trọn Gói
				li
					a(href='') Sản Phẩm Khuyến Mãi
				li
					| Điện Tử
					a.accordion-toggle(data-toggle='collapse', data-target='#accordion')
					ul#accordion.collapse.sub-1
						li
							| latop
							a.accordion-toggle(data-toggle='collapse', data-target='#accordion1')
							ul#accordion1.sub-2
								li Lorem ipsum dolor sit.
								li Lorem ipsum dolor sit.
								li Lorem ipsum dolor sit.
								li Lorem ipsum dolor sit.
						li px
						li destop
						li điện thoại
						li tablet
				li
					a(href='') Điện Gia Dụng
				li
					a(href='') Nội Thất
				li
					a(href='') Thời Trang
				li
					a(href='') Kỹ Thuật Số
				li
					a(href='') Sức Khỏe
				li
					a(href='') Văn Phòng
	.overlay
#sidebar-repsonsive--cart.sidebar-repsonsive.sidebar-repsonsive--nav.repsonsive-right
	.sidebar-responsive__content
		.sidebar__content
			.btn--close
	.overlay


