.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group{
  margin-left: 0;
}
.carousel-control{

  width: 40px;
  height: 40px;
  background-position: center;
  top: 50%;
  margin-top: -20px;
}

.products-img__control{
  top: -30px;
}
.carousel-control.products-img__right{
  right: 0;
}
.carousel-control.products-img__left{
  background-size: contain;
  background-repeat: no-repeat;
  left: auto;
  right: 35px;
}
.carousel-control.right{
   background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
}
.carousel-control.left{
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
}
.flexslider{
  margin-bottom: 0;
  position: relative;
}
.product-gallery__thumbnail .slides > li{
}
.container-all{
  overflow: hidden; 
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ydayvh');
  src:  url('../fonts/icomoon.eot?ydayvh#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ydayvh') format('truetype'),
    url('../fonts/icomoon.woff?ydayvh') format('woff'),
    url('../fonts/icomoon.svg?ydayvh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa{
  margin-right: 3px;
}
.icon-cart:before {
  content: "\e900";
}
.icon-money:before {
  content: "\e901";
}
.icon-heart:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-slice8:before {
  content: "\e904";
}
.icon-medal:before {
  content: "\e905";
}
.icon-truck:before {
  content: "\e906";
}
.icon-seach:before {
  content: "\e907";
}
.icon-right:before {
  content: "\e908";
}
.icon-left:before {
  content: "\e909";
}
.icon-hambuger-dots:before {
  content: "\e90a";
}
.icon-compare:before {
  content: "\e90b";
}
.icon-compare-2:before {
  content: "\e90c";
}
.icon-mail:before {
  content: "\e914";
}
.icon-truck-2:before {
  content: "\e90d";
}



.breadcrumb{
	background-color: transparent;
	margin: 0;
	padding: 0;
	li.active{
		a{
			font-weight: bold;
		}
	}
}
.checkbox, .radio{
  &:last-child{
    margin-bottom: 0; 
  }
}

