@mixin add-border($size, $color, $position, $type ){
	@if $position == all {
		border:$size $type $color;
	}@else if $position == top {
		border-top:$size $type $color;
	}@else if $position == bottom {
		border-bottom:$size $type $color;
	}@else if $position == left {
		border-left:$size $type $color;
	}@else if $position == right {
		border-right:$size $type $color;
	}@else if $position == top-bottom {
		border-top:$size $type $color;
		border-bottom:$size $type $color;
	}@else if $position == right-left {
		border-left:$size $type $color;
		border-right:$size $type $color;
	} 
}

@mixin transform($position,$x,$y){
	@if $position == translate {
		transform: translate($x,$y);
		-ms-transform: translate($x,$y);
		-moz-transform: translate($x,$y);
		-o-transform: translate($x,$y);
		-webkit-transform: translate($x,$y);
	}@else if $position == rotate {
		transform: rotate($x);
		-ms-transform: rotate($x);
		-moz-transform: rotate($x);
		-o-transform: rotate($x);
		-webkit-transform: rotate($x);
	}@else if $position == skew {
		transform: skew($x,$y);
		-ms-transform: skew($x,$y);
		-moz-transform: skew($x,$y);
		-o-transform: skew($x,$y);
		-webkit-transform: skew($x,$y);
	}@else if $position == scale {
		transform: scale($x,$y);
		-ms-transform: scale($x,$y);
		-moz-transform: scale($x,$y);
		-o-transform: scale($x,$y);
		-webkit-transform: scale($x,$y);
	}
}

@mixin btn($size) {
	@if $size == big {
		padding: 7px 50px;
	} @else if $size == small {
		padding: 3px 22px;
		border-radius: 0;
	} 
}
@mixin style-btn($color,$bg,$circle) {
	border-radius: $circle;
	background-color: $bg;
	color: $color;
}
$mobile-width-xs: 320px; 
$mobile-width: 480px; 
$tablet-width: 767px; 
$tablet-width-pro: 1024px; 
$tablet-width-pro-h: 1200px; 


@mixin tablet-width-pro-h {@media only screen and (max-width: #{$tablet-width-pro-h}) {     
  @content;  
 } 
}
@mixin tablet-pro { @media only screen and (max-width: #{$tablet-width-pro}) { 
  	@content;   
 } 
}  
@mixin tablet { @media only screen and (max-width: #{$tablet-width}){  
     @content;   
 } 
}  
@mixin mobile { @media only screen and (max-width: #{$mobile-width}) { 
  	@content;   
 } 
} 
@mixin mobile-xs { @media only screen and (max-width: #{$mobile-width-xs}) { 
  	@content;   
 } 
}  


@mixin flex-center(){
   display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

// @mixin hrs($small,$big,$color){
// 	.slow{
//     display: inline-block;
//     border-radius: 50%;
// 	border:1px $color solid;
// 		&--slow1{
// 			background-color: $color;
// 		}
// 	}
// 	.hr-slow{
// 		background: $color;
// 		display: inline-block;
// 		margin-bottom: 2px;
// 		border-radius: 100px;
// 	}
// 	@if $small == small {
// 		.slow{
// 			width: 5px;
// 		    height: 5px;
// 		    @include mobile() {
// 		    	width: 5px;
// 		    	height: 5px;
// 		    }
// 		}
// 		.hr-slow{
// 			width: 95px;
// 			height: 2px;
// 		    @include mobile() {
// 		    	width: 95px;
// 		    	height: 3px;
// 		    }
// 		}
// 	} @else if $big == big{
// 		.slow{
// 			width: $h5;
// 		    height: $h5;
// 		    @include mobile() {
// 		    	width: 15px;
// 		    	height: 15px;
// 		    }
// 		}
// 		.hr-slow{
// 			width: 95px;
// 			height: 3px;
// 		    @include mobile() {
// 		    	width: 95px;
// 		    	height: 3px;
// 		    }
// 		}
// 	} 
// }
@mixin icon-social($color,$bg,$width,$height ) {
	color: $color;
	width: $width;
	height: $height;
	line-height: $height;
	background-color: $bg;
	margin-right: 0.77vw;
	display: inline-block;
	border-radius: $width;
	text-align: center;
}

@mixin hr-circle ($width,$border,$size,$color){
	width: $width;
	height: $width;
	border-radius: 100%;
	@include add-border($size,$color,$border,solid);
}

