.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	position: static;
}
.content{
	padding-top: 20px;
	padding-bottom: 40px;
}
// margin va padding
.pl-0{
	padding-left: 0!important;
}		
.pr-0{
	padding-right: 0!important;
}		
.mt-5{
	margin-top: 50px;
}
.mt-4{
	margin-top:40px;
}
.mt-3{
	margin-top:30px;
}
.mt-2{
	margin-top:20px;
}
.mt-1{
	margin-top:10px;
}

.mr-5{
	margin-right: 50px;
}
.mr-4{
	margin-right:40px;
}
.mr-3{
	margin-right:30px;
}
.mr-2{
	margin-right:20px;
}
.mr-1{
	margin-right:10px;
}

.mb-5{
	margin-bottom: 50px;
}
.mb-4{
	margin-bottom:40px;
}
.mb-3{
	margin-bottom:30px;
}
.mb-2{margin-bottom:20px;
}
.mb-1{
	margin-bottom:10px;
}

.ml-5{
	margin-left: 50px;
}
.ml-4{
	margin-left:40px;
}
.ml-3{
	margin-left:30px;
}
.ml-2{
	margin-left:20px;
}
.ml-1{
	margin-left:10px;
}	

.pt-5{
	padding-top: 50px;
}
.pt-4{
	padding-top:40px;
}
.pt-3{
	padding-top:30px;
}
.pt-2{
	padding-top:20px;
}
.pt-1{
	padding-top:10px;
}

.pr-5{
	padding-right: 50px;
}
.pr-4{
	padding-right:40px; 
}
.pr-3{
	padding-right:30px;	
}
.pr-2{
	padding-right:20px;	
}
.pr-1{
	padding-right:10px;	
}

.pb-5{
	padding-bottom: 50px;
}
.pb-4{
	padding-bottom:40px;
}
.pb-3{
	padding-bottom:30px;
}
.pb-2{
	padding-bottom:20px;
}
.pb-1{
	padding-bottom:10px;
}

.pl-5{
	padding-left: 50px;
}
.pl-4{
	padding-left:40px;
}
.pl-3{
	padding-left:30px;
}
.pl-2{
	padding-left:20px;
}
.pl-1{
	padding-left:10px;
}
.main-block{
	margin-bottom: 40px;
	@include mobile() {
		margin-bottom: 20px;
	}
	&:last-child{
		margin-bottom: 0px;
	}
}
.add-border{
	&--left{
		@include add-border(1px, $color-primary, left, solid )
	}
	&--right{
		@include add-border(1px, $color-primary, right, solid )
	}
	&--bottom{
		@include add-border(1px, $color-primary, bottom, solid )
	}
	&--top{
		@include add-border(1px, $color-primary, top, solid )
	}
	&--left-g{
		@include add-border(1px, $color-gray, left, solid )
	}
	&--right-g{
		@include add-border(1px, $color-gray, right, solid )
	}
	&--bottom-g{
		@include add-border(1px, $color-gray, bottom, solid )
	}
	&--top-g{
		@include add-border(1px, $color-gray, top, solid )
	}
}
.hidden{
	&__xs{
		@include mobile() {
			display: none!important;
		}
	}
	&__sm{
		@include tablet() {
			display: none!important;
		}
	}
	&__md{
		@include tablet-pro() {
			display: none!important;
		}
	}
	&__lg{
		@include tablet-width-pro-h() {
			display: none!important;
		}
	}
}
.show{
	&__xs{
		@include mobile() {
			display: block!important;
		}
	}
	&__sm{
		@include tablet() {
			display: block!important;
		}
	}
	&__md{
		@include tablet-pro() {
			display: block!important;
		}
	}
	&__lg{
		@include tablet-width-pro-h() {
			display: block!important;
		}
	}
}

.list--dots{
	margin-left:10px;
	li{
		position: relative;
		&:before{
			content:'.';
			font-size: 5px;
			display: block;
			position: absolute;
			left: -10px;
			font-size: 30px;
			line-height: 20%;
			
		}
	}
}

.opacity0{
	opacity:0;
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
}
.nav-tabs{
	border: none;
}
.nav-tabs>li>a{
	margin-right: 0;
	border-radius: 0;
	border:none;
	opacity: 0.6;
	font-weight: 400;
	font-size: $font-size-sm;
	font-family: $font-family-2;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background-color: transparent;
	border:none;
	opacity: 1;
	color: $color-secondary;
}
/* icon social */
.icon-social{
	span{
		@include icon-social($color-white,$color-secondary,30px,30px);
	}
}
/* swiper */
.product-slider {
	.swiper-button-next, .swiper-button-prev{
		opacity:1!important;
	}
}
.swiper-button-next, .swiper-button-prev{
    width: 22px;
    height: 36px;
    margin-top: -18px;
    background-size: contain;
    opacity:0;
    transition:all 0.3s;
}
.swiper-container-horizontal:hover .swiper-button-next, .swiper-container-horizontal:hover .swiper-button-prev{
	opacity:1;
}
.swiper-pagination-bullet{
	width: 10px;
	height: 10px;
	border:1px solid $color-secondary;
	background: transparent;
	opacity:1;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active{
	background-color: $color-secondary;
}
/* pagination */
.pagination>li>a, .pagination>li>span{
	color: $color-secondary;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: $color-secondary;
	border-color: $color-secondary;
}

/* carousel */
.carousel-indicators li{
    border-color: $color-secondary;
}
.carousel-indicators li.active{
  background-color: $color-secondary;
}



.br-theme-bootstrap-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}
.br-theme-bootstrap-stars .br-widget a {
  font: normal normal normal 18px/1 'Glyphicons Halflings';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
}
.br-theme-bootstrap-stars .br-widget a:after {
  content: '\e006';
  color: #d2d2d2;
}
.br-theme-bootstrap-stars .br-widget a.br-active:after {
  color: $color-yellow;
}
.br-theme-bootstrap-stars .br-widget a.br-selected:after {
  color: $color-yellow;
}
.br-theme-bootstrap-stars .br-widget .br-current-rating {
  display: none;
}
.br-theme-bootstrap-stars .br-readonly a {
  cursor: default;
}
@media print {
  .br-theme-bootstrap-stars .br-widget a:after {
    content: '\e007';
    color: black;
  }
  .br-theme-bootstrap-stars .br-widget a.br-active:after,
  .br-theme-bootstrap-stars .br-widget a.br-selected:after {
    content: '\e006';
    color: black;
  }
}