// font-size-destop
$font-size-xxs:10px; 
$font-size-xs:15px; 
$font-size-sm:15px; 
$font-size-md:20px; 
$font-size-lg:20px; 
$font-size-xl:30px;

// font-size-tablet
$font-size-mobile-xs:10px; 
$font-size-mobile-sm:15px; 
$font-size-mobile-md:20px; 
$font-size-mobile-lg:20px; 
$font-size-mobile-xl:30px;

// font-size-mobile
$font-size-mobile-xs:10px; 
$font-size-mobile-sm:15px; 
$font-size-mobile-md:20px; 
$font-size-mobile-lg:20px; 
$font-size-mobile-xl:30px;

// color-web;
$color-primary: #041620;
$color-secondary:#2894bc;
$color-bg-thumbnail:#f9f9f9;
$color-arrow:#7c7c7c;
$color-white:white;
$color-default:#707070;
$color-danger:#d30032;
$color-yellow:#ffd800;
$color-black:black;
$color-gray:#d7d7d7;
$color-gray-2:#d9d9d9;
// $color-gray:#404040; 
// $color-gray-1:#f7f7f7; 
// $color-gray-2:#d6d6d6;
// $color-gray-3:#f3f3f3;
// $color-gray-4:#808080;
// $color-black:black; 
// $color-red:#d5002c; 
// $color-blue:#002d48;
// $color-red-2:#6b163a;
// $color-red-3:#ff5a5a;



// $h5:0.384vw; 
// $h15:1.153vw; 
// $h10:0.732vw; 
// $h20:1.538vw; 
// $h30:2.3vw; 
// $h40:3.07vw; 
// $h50:3.846vw;

// $font-family
$font-family-1: 'Roboto';
$font-family-2: 'Roboto';