.editor{

	h2,h3,h4,h5,h6{
		margin-bottom: 10px
	}
	p{
		margin-bottom: 20px;
	}
	h1{
		color: $color-primary
	}
	h3{
		color: $color-secondary;
	}
	img{
		max-width: 100%;
		display: block;
		margin: 0 auto;
		margin-bottom: 25px;
	}
}
.block-editor{
	position: relative;
}
.block-shadow{
	position: absolute;
	width: 100%;
	bottom: 0;
	&:after{
		content: -webkit-gradient(linear,0% 100%,0% 0%,from(#fff),color-stop(.2,#fff),to(rgba(255,255,255,0)));
		display: block;
		height: 55px;
	}
}
