.top-menu.navbar{
	min-height: 0;
	ul > li > a{
		padding-bottom: 0
	}
}
 

.navbar{
	margin-bottom: 0;
	a{
		color: $color-white;
	}
}
.mid-header{
	position: relative;

}
.nav-sidebar{
	.btn--secondary{
		padding: 0;
		height: 36px;
		line-height: 36px;
		width: 100%;
	}
	&:hover .menu-sidebar{
		visibility: visible;
		opacity:1;
		top: 100%;
	}
	.menu-sidebar{
		position: absolute;
		z-index: 999;
		left: 0;
		background-color: $color-white;
		width: 100%;
		box-shadow: 0 0 20px rgba(0,0,0,.15);
		visibility: hidden;
		opacity:0;
		transition:all 0.3s;
		top: 200%;
		& > li{
			color: $color-primary;
			background-color: $color-white;	
			position: relative;
		}
		.sub-1{
			float: left;
			background-color: $color-white;
			border-right: 1px solid $color-gray;
			padding: 0;
			& > li{
				display: inline-block;
				width: 100%;
				&:hover{
					background-color: $color-secondary;
				}
				&:hover a{
					color: $color-white;
				}
				a{
					padding: 7px 25px 7px 20px;
					display: block;
				}
			}
		}
		.nav-hover{
			.sub-2{
				position: absolute;
				top: 0;
				width: 80%;
				left: 20%;
				display: none;
				z-index: -1;
				transition:all 0.2s;
				& > li{
					a{
						color: $color-primary!important;
					}
					display: inline-block;
					margin:0 10px;
				}
			}
		}
		.nav-hover.active{
			.sub-2{
				display: block;
			}
		}
		

		.sub-3{
			li{
				margin-bottom: 5px;
			}
		}
	}
}

/*=========== menu-responsive ===========*/
.sidebar-repsonsive--nav{
	.sidebar-responsive__content{
		padding: 0;
	}
}
.menu-responsive{
	ul{
		li{
			padding: 15px;
			border:none;
			.accordion-toggle:after{
				transition:all 0.2s;
			}
			&.active{
				background-color: rgba(0,0,0,0.05);
				& > .accordion-toggle{

					&:after{
						transform:rotate(180deg);
					}
				}
			}
		}
	}
}

.menu-responsive > ul > li{
	border-bottom: 1px solid $color-gray;
}

/*=========== nav-icon ===========*/
.sidebar__icon{
	.btn-responsive{
		width: 50px;
		height: 50px;
		background-color: $color-secondary;
		border-radius: 50%;
		position: relative;
		cursor: pointer;
		display: inline-block;
		color: $color-white;
		font-size: 20px;
		text-align: center;
		line-height: 50px;
		font-weight: bolder;
		@include mobile() {
			width: 30px;
			height: 30px;
			font-size: 12px;
			line-height: 30px;
		}
	}
}