.sidebar{
	.add-border--bottom{
		border-color: $color-bg-thumbnail;
	}
}



/*=============sibar responsive============*/

.sidebar-repsonsive{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	transition:all 0.5s;
	background-color: rgba(0, 0, 0, 0.27);
	z-index: 999;
}
.sidebar-responsive__content{
	width: 250px;
	position: relative;
	height: 100%;
	overflow-y: auto;
	z-index: 999;
	padding:15px;
	background-color:$color-bg-thumbnail;
	.sidebar__content{
		position: relative;
		padding: 20px;
	}
}

/*=============widget============*/
.media-list{
	@include  add-border($size:1px, $color:$color-gray, $position:all, $type:solid );
	padding:15px;
	&__item{
		margin-bottom: 15px;
	}
	.media-heading{
		a{
			color: $color-secondary;
		}
	}
}