extends template/layout.pug
block main
	.container.mt-3
		.row
			.col-sm-7
				form.flow-cart-form(action='', method='post')
					.cart-wrapper
						table.shop_table.shop_table_responsive.cart.flow-cart-form__contents(cellspacing='0')
							thead
								tr
									th.actions.clear.w-400(colspan='6')
										.continue-shopping.pull-left.text-left
											a.button-continue-shopping.add-color--secondary.text-capitalize(href='https://kitchenkoncept.com.vn/cua-hang/')
												| mua thêm sản phẩm khác
										input.btn-update__cart.mt-0.pull-right(type='submit', name='update_cart', value='Cập nhật giỏ hàng', disabled='')
										input(type='hidden', id='', name='', value='')
										input(type='hidden', name='', value='')
								tr.add-border--bottom-g
									th.product-name.w-400(colspan='3') Sản phẩm
									th.product-price.w-400 Giá Tiền
									th.product-quantity.w-400 Số lượng
									th.product-subtotal.w-400.text-right Tổng cộng
							tbody
								tr.flow-cart-form__cart-item.cart_item.add-border--bottom-g.pb-1 
									td.product-thumbnail
										a(href='')
											img.attachment-shop_thumbnail.size-shop_thumbnail.img-responsive(width='105', height='105', src='images/loa-lon.jpg', alt='')
										.product-remove
											a.remove(href='') ×		
									td.product-name(colspan='2')
										a.add-color--black.w-700.block-mt(href='') máy giặt
									td.product-price
										span.flow-Price-amount.amount.add-color--secondary.w-700.block-mt
											| 2,223,100 
											span.flow-Price-currencySymbol VNĐ
									td.product-quantity
										.quantity.buttons_added.btn-group.block-mt
											span.input-number-decrement.btn –
											input.input-number.btn(type='text', value='1', min='0', max='10')
											span.input-number-increment.btn +
									td.product-subtotal.text-right
										span.flow-Price-amount.amount.add-color--secondary.w-700.block-mt
											| 2,223,100 
											span.flow-Price-currencySymbol VNĐ
									td
											
				section.new-products.main-block.product--upsale
					.product-slider
						h1.title--primary.mt-3 Sản Phẩm Mới
						.slider-gird-4.slider-gird-1.create-slider(data-slider='.slider-gird-1,3,2,2,1,30')
							.swiper-wrapper
								.swiper-slide
									.product-small
										.product-small__header.pl-2.pt-2
											.product__title.pull-left
												a(href='')
													h5 Máy Giặt LG 3350
												.rating
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
											.product__new.pull-left
												span.btn.btn-small.btn--danger.w-700 New
											.clearfix
										.product-small__mid
											.img-wapper
												img.img-responsive(src='images/iphone.png', alt='')
											.product-price
												h5.title-primary 3.500.000đ
												p Lorem ipsum dolor sit.
												p Lorem ipsum dolor sit.
											// hover-product
											.hover-product
												.hover-product__mid
													.product__loading
														.loading
														.product-slider__images.create-slider(data-slider='.product-slider__images,1,30')
															.swiper-wrapper
																//
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															.swiper-button-next.product-slider__images-next
															.swiper-button-prev.product-slider__images-prev
													.product-info.pl-1
														ul
															li Khối lượng giặt:  7.5 kg 
															li Kiểu máy giặt Cửa trước 
															li  Lồng giặt Ngan
															li  Tốc độ quay vắt:  750 vòng/phút
															li  Công nghệ Inverter
															li  Bảng điều khiển: Cảm ứng
															li  Điện áp 220 - 240 V/50-60Hz
												.hover-product__bot.text-capitalize
													.payment.pull-left.add-color--secondary
														.product__icon.product__cart
															a.add-color--secondary(href='')
																span.icon.icon-cart
														.product__icon.product__heart
															a.add-color--secondary(href='')
																span.icon.icon-heart
														.product__icon.product__same
															a.add-color--secondary(href='')
																span.icon-compare.icon
																span so sánh
											// hover-product
								.swiper-slide
									.product-small
										.product-small__header.pl-2.pt-2
											.product__title.pull-left
												a(href='')
													h5 Máy Giặt LG 3350
												.rating
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
											.product__new.pull-left
												span.btn.btn-small.btn--danger.w-700 New
											.clearfix
										.product-small__mid
											.img-wapper
												img.img-responsive(src='images/iphone.png', alt='')
											.product-price
												h5.title-primary 3.500.000đ
												p Lorem ipsum dolor sit.
												p Lorem ipsum dolor sit.
											// hover-product
											.hover-product
												.hover-product__mid
													.product__loading
														.loading
														.product-slider__images.create-slider(data-slider='.product-slider__images,1,30')
															.swiper-wrapper
																//
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															.swiper-button-next.product-slider__images-next
															.swiper-button-prev.product-slider__images-prev
													.product-info.pl-1
														ul
															li Khối lượng giặt:  7.5 kg 
															li Kiểu máy giặt Cửa trước 
															li  Lồng giặt Ngan
															li  Tốc độ quay vắt:  750 vòng/phút
															li  Công nghệ Inverter
															li  Bảng điều khiển: Cảm ứng
															li  Điện áp 220 - 240 V/50-60Hz
												.hover-product__bot.text-capitalize
													.payment.pull-left.add-color--secondary
														.product__icon.product__cart
															a.add-color--secondary(href='')
																span.icon.icon-cart
														.product__icon.product__heart
															a.add-color--secondary(href='')
																span.icon.icon-heart
														.product__icon.product__same
															a.add-color--secondary(href='')
																span.icon-compare.icon
																span so sánh
											// hover-product
								.swiper-slide
									.product-small
										.product-small__header.pl-2.pt-2
											.product__title.pull-left
												a(href='')
													h5 Máy Giặt LG 3350
												.rating
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
											.product__new.pull-left
												span.btn.btn-small.btn--danger.w-700 New
											.clearfix
										.product-small__mid
											.img-wapper
												img.img-responsive(src='images/iphone.png', alt='')
											.product-price
												h5.title-primary 3.500.000đ
												p Lorem ipsum dolor sit.
												p Lorem ipsum dolor sit.
											// hover-product
											.hover-product
												.hover-product__mid
													.product__loading
														.loading
														.product-slider__images1.create-slider(data-slider='.product-slider__images1,1,30')
															.swiper-wrapper
																//
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															.swiper-button-next.product-slider__images1-next
															.swiper-button-prev.product-slider__images1-prev
													.product-info.pl-1
														ul
															li Khối lượng giặt:  7.5 kg 
															li Kiểu máy giặt Cửa trước 
															li  Lồng giặt Ngan
															li  Tốc độ quay vắt:  750 vòng/phút
															li  Công nghệ Inverter
															li  Bảng điều khiển: Cảm ứng
															li  Điện áp 220 - 240 V/50-60Hz
												.hover-product__bot.text-capitalize
													.payment.pull-left.add-color--secondary
														.product__icon.product__cart
															a.add-color--secondary(href='')
																span.icon.icon-cart
														.product__icon.product__heart
															a.add-color--secondary(href='')
																span.icon.icon-heart
														.product__icon.product__same
															a.add-color--secondary(href='')
																span.icon-compare.icon
																span so sánh
											// hover-product
								.swiper-slide
									.product-small
										.product-small__header.pl-2.pt-2
											.product__title.pull-left
												a(href='')
													h5 Máy Giặt LG 3350
												.rating
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
											.product__new.pull-left
												span.btn.btn-small.btn--danger.w-700 New
											.clearfix
										.product-small__mid
											.img-wapper
												img.img-responsive(src='images/iphone.png', alt='')
											.product-price
												h5.title-primary 3.500.000đ
												p Lorem ipsum dolor sit.
												p Lorem ipsum dolor sit.
											// hover-product
											.hover-product
												.hover-product__mid
													.product__loading
														.loading
														.product-slider__images.create-slider2(data-slider='.product-slider__images2,1,30')
															.swiper-wrapper
																//
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															.swiper-button-next.product-slider__images2-next
															.swiper-button-prev.product-slider__images2-prev
													.product-info.pl-1
														ul
															li Khối lượng giặt:  7.5 kg 
															li Kiểu máy giặt Cửa trước 
															li  Lồng giặt Ngan
															li  Tốc độ quay vắt:  750 vòng/phút
															li  Công nghệ Inverter
															li  Bảng điều khiển: Cảm ứng
															li  Điện áp 220 - 240 V/50-60Hz
												.hover-product__bot.text-capitalize
													.payment.pull-left.add-color--secondary
														.product__icon.product__cart
															a.add-color--secondary(href='')
																span.icon.icon-cart
														.product__icon.product__heart
															a.add-color--secondary(href='')
																span.icon.icon-heart
														.product__icon.product__same
															a.add-color--secondary(href='')
																span.icon-compare.icon
																span so sánh
											// hover-product
								.swiper-slide
									.product-small
										.product-small__header.pl-2.pt-2
											.product__title.pull-left
												a(href='')
													h5 Máy Giặt LG 3350
												.rating
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
											.product__new.pull-left
												span.btn.btn-small.btn--danger.w-700 New
											.clearfix
										.product-small__mid
											.img-wapper
												img.img-responsive(src='images/iphone.png', alt='')
											.product-price
												h5.title-primary 3.500.000đ
												p Lorem ipsum dolor sit.
												p Lorem ipsum dolor sit.
											// hover-product
											.hover-product
												.hover-product__mid
													.product__loading
														.loading
														.product-slider__images3.create-slider(data-slider='.product-slider__images3,1,30')
															.swiper-wrapper
																//
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															.swiper-button-next.product-slider__images3-next
															.swiper-button-prev.product-slider__images3-prev
													.product-info.pl-1
														ul
															li Khối lượng giặt:  7.5 kg 
															li Kiểu máy giặt Cửa trước 
															li  Lồng giặt Ngan
															li  Tốc độ quay vắt:  750 vòng/phút
															li  Công nghệ Inverter
															li  Bảng điều khiển: Cảm ứng
															li  Điện áp 220 - 240 V/50-60Hz
												.hover-product__bot.text-capitalize
													.payment.pull-left.add-color--secondary
														.product__icon.product__cart
															a.add-color--secondary(href='')
																span.icon.icon-cart
														.product__icon.product__heart
															a.add-color--secondary(href='')
																span.icon.icon-heart
														.product__icon.product__same
															a.add-color--secondary(href='')
																span.icon-compare.icon
																span so sánh
											// hover-product
								.swiper-slide
									.product-small
										.product-small__header.pl-2.pt-2
											.product__title.pull-left
												a(href='')
													h5 Máy Giặt LG 3350
												.rating
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
											.product__new.pull-left
												span.btn.btn-small.btn--danger.w-700 New
											.clearfix
										.product-small__mid
											.img-wapper
												img.img-responsive(src='images/iphone.png', alt='')
											.product-price
												h5.title-primary 3.500.000đ
												p Lorem ipsum dolor sit.
												p Lorem ipsum dolor sit.
											// hover-product
											.hover-product
												.hover-product__mid
													.product__loading
														.loading
														.product-slider__images.create-slider4(data-slider='.product-slider__images4,1,30')
															.swiper-wrapper
																//
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															.swiper-button-next.product-slider__images4-next
															.swiper-button-prev.product-slider__images4-prev
													.product-info.pl-1
														ul
															li Khối lượng giặt:  7.5 kg 
															li Kiểu máy giặt Cửa trước 
															li  Lồng giặt Ngan
															li  Tốc độ quay vắt:  750 vòng/phút
															li  Công nghệ Inverter
															li  Bảng điều khiển: Cảm ứng
															li  Điện áp 220 - 240 V/50-60Hz
												.hover-product__bot.text-capitalize
													.payment.pull-left.add-color--secondary
														.product__icon.product__cart
															a.add-color--secondary(href='')
																span.icon.icon-cart
														.product__icon.product__heart
															a.add-color--secondary(href='')
																span.icon.icon-heart
														.product__icon.product__same
															a.add-color--secondary(href='')
																span.icon-compare.icon
																span so sánh
											// hover-product
								.swiper-slide
									.product-small
										.product-small__header.pl-2.pt-2
											.product__title.pull-left
												a(href='')
													h5 Máy Giặt LG 3350
												.rating
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
											.product__new.pull-left
												span.btn.btn-small.btn--danger.w-700 New
											.clearfix
										.product-small__mid
											.img-wapper
												img.img-responsive(src='images/iphone.png', alt='')
											.product-price
												h5.title-primary 3.500.000đ
												p Lorem ipsum dolor sit.
												p Lorem ipsum dolor sit.
											// hover-product
											.hover-product
												.hover-product__mid
													.product__loading
														.loading
														.product-slider__images.create-slider5(data-slider='.product-slider__images5,1,30')
															.swiper-wrapper
																//
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															.swiper-button-next.product-slider__images5-next
															.swiper-button-prev.product-slider__images5-prev
													.product-info.pl-1
														ul
															li Khối lượng giặt:  7.5 kg 
															li Kiểu máy giặt Cửa trước 
															li  Lồng giặt Ngan
															li  Tốc độ quay vắt:  750 vòng/phút
															li  Công nghệ Inverter
															li  Bảng điều khiển: Cảm ứng
															li  Điện áp 220 - 240 V/50-60Hz
												.hover-product__bot.text-capitalize
													.payment.pull-left.add-color--secondary
														.product__icon.product__cart
															a.add-color--secondary(href='')
																span.icon.icon-cart
														.product__icon.product__heart
															a.add-color--secondary(href='')
																span.icon.icon-heart
														.product__icon.product__same
															a.add-color--secondary(href='')
																span.icon-compare.icon
																span so sánh
											// hover-product
								.swiper-slide
									.product-small
										.product-small__header.pl-2.pt-2
											.product__title.pull-left
												a(href='')
													h5 Máy Giặt LG 3350
												.rating
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
													span.fa.fa-star.checked
											.product__new.pull-left
												span.btn.btn-small.btn--danger.w-700 New
											.clearfix
										.product-small__mid
											.img-wapper
												img.img-responsive(src='images/iphone.png', alt='')
											.product-price
												h5.title-primary 3.500.000đ
												p Lorem ipsum dolor sit.
												p Lorem ipsum dolor sit.
											// hover-product
											.hover-product
												.hover-product__mid
													.product__loading
														.loading
														.product-slider__images6.create-slider(data-slider='.product-slider__images6,1,30')
															.swiper-wrapper
																//
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
																	<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															.swiper-button-next.product-slider__images6-next
															.swiper-button-prev.product-slider__images6-prev
													.product-info.pl-1
														ul
															li Khối lượng giặt:  7.5 kg 
															li Kiểu máy giặt Cửa trước 
															li  Lồng giặt Ngan
															li  Tốc độ quay vắt:  750 vòng/phút
															li  Công nghệ Inverter
															li  Bảng điều khiển: Cảm ứng
															li  Điện áp 220 - 240 V/50-60Hz
												.hover-product__bot.text-capitalize
													.payment.pull-left.add-color--secondary
														.product__icon.product__cart
															a.add-color--secondary(href='')
																span.icon.icon-cart
														.product__icon.product__heart
															a.add-color--secondary(href='')
																span.icon.icon-heart
														.product__icon.product__same
															a.add-color--secondary(href='')
																span.icon-compare.icon
																span so sánh
											// hover-product
							.swiper-grid-next.swiper-button-next.slider-gird-1-next
							.swiper-grid-prev.swiper-button-prev.slider-gird-1-prev
							.see-more
								a.btn--border(href='')
									| Xem Thêm Sản Phẩm
			.col-sm-4.col-sm-offset-1
				.cart-sidebar
					.cart_totals
						table(cellspacing='0')
							thead
								tr
									th.product-name(colspan='2') Thông Tin Giỏ Hàng
						table.shop_table.shop_table_responsive(cellspacing='0')
							tbody
								tr.cart-subtotal
									th Máy Giặt LG
									td.text-right.add-color--secondary
										span.flow-Price-amount.amount
											| 2,223,100
											span.flow-Price-currencySymbol VNĐ
								tr.order-total
									th Tổng cộng
									td.text-right.add-color--secondary
										strong
											span.flow-Price-amount.amount
												| 2,241,100
												span.flow-Price-currencySymbol VNĐ
						.proceed-to-checkout.text-center.mt-3
							a.checkout-button.btn.btn--primary(href='')
								| Tiến hành thanh toán
					.cart-sidebar-content
