extends template/layout.pug
block main
	.container
		.sibar-responsive.hidden.show__sm
			ul.breadcrumb.mb-2
				li
					a(href='#') Home
				li.active
					a.add-color--primary(href='#') Category
			span.fa.fa-navicon.pr-1.icon.btn-responsive--left(data-responsive='.repsonsive-left')  Lọc
		.row
			.col-md-3.col-sm-3.mt-2.hidden__sm
				.sidebar.hidden__xs
					ul.breadcrumb
						li
							a(href='#') Home
						li.active
							a.add-color--primary(href='#') Category
					.sidebar__content.mt-2
						form(action='')
							.highlight-filter.pb-1.pt-1.add-border--bottom
								h4.title--primary Nổi Bật
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Khuyến Mãi
										span.badge--seach (5)
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Hàng Mới Về
										span.badge--seach (5)
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Máy Giặt Cao Cấp
										span.badge--seach (5)
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Máy Giặt Inverter
										span.badge--seach (5)
							.price-filter.pb-1.pt-1.add-border--bottom
								h4.title--primary Giá bán
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Dưới 4 Triệu
										span.badge--seach (5)
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Từ 4 Triệu - 7 Triệu
										span.badge--seach (5)
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Từ 7 Triệu - 10 Triệu
										span.badge--seach (5)
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Trên 10 Triệu
										span.badge--seach (5)
							.brand-filter.pb-1.pt-1.add-border--bottom
								h4.title--primary Nhãn Hiệu
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Panasonic
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  SamSung
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  LG
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Electrolux
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Toshiba
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Sharp
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Hitachi
								.checkbox
									label
										input(type='checkbox', name='remember')
										| Candy
								.checkbox
									label
										input(type='checkbox', name='remember')
										| Mikea
							.origin-filter.pb-1.pt-1.add-border--bottom
								h4.title--primary Xuất Xứ
								.checkbox
									label
										input(type='checkbox', name='remember')
										| Thái Lan
										span.badge--seach (5)
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Việt Nam
										span.badge--seach (5)
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Nhật Bản
										span.badge--seach (5)
								.checkbox
									label
										input(type='checkbox', name='remember')
										| Hàn quốc
										span.badge--seach (5)
								.checkbox
									label
										input(type='checkbox', name='remember')
										| Mỹ
										span.badge--seach (5)
							.washing-filter.pb-1.pt-1.add-border--bottom
								h4.title--primary Loại Máy Giặt
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Cửa trước
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Cửa Trên
							.weight-filter.pb-1.pt-1.add-border--bottom
								h4.title--primary Khối Lượng Giặt
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Dưới 7.5 Kg ( 2 - 3 Người)
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Từ 7.5 Kg - 8.5 Kg ( 4 - 5 Người )
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Trên 10.5 Kg ( Trên 6 Người )
							.utilities-filter.pb-1.pt-1.add-border--bottom
								h4.title--primary Tiện Ích
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Khóa Trẻ Em
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Chức Năng Sấy
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Giặt Hơi Nước
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Tiết Kiệm Điện
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Khử Mùi Kháng Khuẩn
								.checkbox
									label
										input(type='checkbox', name='remember')
										|  Giặt Nước Nóng
			.col-md-9.col-sm-9
				section.main-block.pb-3.text-capitalize
					.row.text-center
						.col-sm-4.mt-2.item.block--thumbnail-border(data-mh='block--thumbnail')
							.block--thumbnail
								.img-wapper.pull-left(data-mh='block-thumbnail')
									a(href='')
										img.mr-1(src='images/may-giat.png', alt='')
								.block__caption.pull-left(data-mh='block-thumbnail')
									a(href='')
										span
											| Máy Giặt 
											br
											|  Lồng Ngang
							.clearfix
						.col-sm-4.mt-2.item.block--thumbnail-border(data-mh='block--thumbnail')
							.block--thumbnail
								.img-wapper.pull-left(data-mh='block-thumbnail')
									a(href='')
										img.mr-1(src='images/may-giat-2.png', alt='')
								.block__caption.pull-left(data-mh='block-thumbnail')
									a(href='')
										span
											| Máy Giặt 
											br
											|  Lồng Nghiêng
							.clearfix
						.col-sm-4.mt-2.item(data-mh='block--thumbnail')
							.block--thumbnail
								.img-wapper.pull-left(data-mh='block-thumbnail')
									a(href='')
										img.mr-1(src='images/may-giat-3.png', alt='')
								.block__caption.pull-left(data-mh='block-thumbnail')
									a(href='')
										span
											| Máy Giặt 
											br
											|  Lồng Cứng
							.clearfix
				.filter--select.text-right
					.filter--select__right
						form(action='')
							label.mr-1(for='filter-top') Sắp xếp Theo
							select(name='filter-top', id='')
								option(value='') yêu thích
				section.list--products
					.row
						.col-sm-6.col-md-4(data-mh='product-block')
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid.mt-2
									.img-wapper
										img.img-responsive(src='images/lo-suoi-lon.jpg', alt='')
									.product-price
										h5.title-primary
											| Giá Sản Phẩm : 
											strong.add-color--secondary 3.500.000đ
										p.fa-1 Lorem ipsum dolor sit.
										p.fa-1 Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider(data-slider='.product-slider__images,1,0')
													.swiper-wrapper
													.swiper-button-next.product-slider__images-next
													.swiper-button-prev.product-slider__images-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.col-sm-6.col-md-4(data-mh='product-block')
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid.mt-2
									.img-wapper
										img.img-responsive(src='images/may-giay-lon-1.jpg', alt='')
									.product-price
										h5.title-primary
											| Giá Sản Phẩm : 
											strong.add-color--secondary 3.500.000đ
										p.fa-1 Lorem ipsum dolor sit.
										p.fa-1 Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider(data-slider='.product-slider__images,1,0')
													.swiper-wrapper
													.swiper-button-next.product-slider__images-next
													.swiper-button-prev.product-slider__images-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.col-sm-6.col-md-4(data-mh='product-block')
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid.mt-2
									.img-wapper
										img.img-responsive(src='images/may-anh-lon.jpg', alt='')
									.product-price
										h5.title-primary
											| Giá Sản Phẩm : 
											strong.add-color--secondary 3.500.000đ
										p.fa-1 Lorem ipsum dolor sit.
										p.fa-1 Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider(data-slider='.product-slider__images,1,0')
													.swiper-wrapper
													.swiper-button-next.product-slider__images-next
													.swiper-button-prev.product-slider__images-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.col-sm-6.col-md-4(data-mh='product-block')
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid.mt-2
									.img-wapper
										img.img-responsive(src='images/loa-lon.jpg', alt='')
									.product-price
										h5.title-primary
											| Giá Sản Phẩm : 
											strong.add-color--secondary 3.500.000đ
										p.fa-1 Lorem ipsum dolor sit.
										p.fa-1 Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider(data-slider='.product-slider__images,1,0')
													.swiper-wrapper
													.swiper-button-next.product-slider__images-next
													.swiper-button-prev.product-slider__images-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
					.main-btn.text-center.mt-5
						a.btn.btn--primary.text-capitalize(href='')  Xem thêm sản phẩm
	.sidebar-repsonsive.repsonsive-left
		.overlay
		.sidebar-responsive__content
			.sidebar__content
				ul.breadcrumb
					li
						a(href='#') Home
					li.active
						a.add-color--primary(href='#') Category
				form(action='')
					.highlight-filter.pb-1.pt-1.add-border--bottom
						h4.title--primary Nổi Bật
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Khuyến Mãi
								span.badge--seach (5)
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Hàng Mới Về
								span.badge--seach (5)
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Máy Giặt Cao Cấp
								span.badge--seach (5)
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Máy Giặt Inverter
								span.badge--seach (5)
					.price-filter.pb-1.pt-1.add-border--bottom
						h4.title--primary Giá bán
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Dưới 4 Triệu
								span.badge--seach (5)
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Từ 4 Triệu - 7 Triệu
								span.badge--seach (5)
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Từ 7 Triệu - 10 Triệu
								span.badge--seach (5)
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Trên 10 Triệu
								span.badge--seach (5)
					.brand-filter.pb-1.pt-1.add-border--bottom
						h4.title--primary Nhãn Hiệu
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Panasonic
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  SamSung
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  LG
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Electrolux
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Toshiba
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Sharp
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Hitachi
						.checkbox
							label
								input(type='checkbox', name='remember')
								| Candy
						.checkbox
							label
								input(type='checkbox', name='remember')
								| Mikea
					.origin-filter.pb-1.pt-1.add-border--bottom
						h4.title--primary Xuất Xứ
						.checkbox
							label
								input(type='checkbox', name='remember')
								| Thái Lan
								span.badge--seach (5)
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Việt Nam
								span.badge--seach (5)
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Nhật Bản
								span.badge--seach (5)
						.checkbox
							label
								input(type='checkbox', name='remember')
								| Hàn quốc
								span.badge--seach (5)
						.checkbox
							label
								input(type='checkbox', name='remember')
								| Mỹ
								span.badge--seach (5)
					.washing-filter.pb-1.pt-1.add-border--bottom
						h4.title--primary Loại Máy Giặt
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Cửa trước
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Cửa Trên
					.weight-filter.pb-1.pt-1.add-border--bottom
						h4.title--primary Khối Lượng Giặt
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Dưới 7.5 Kg ( 2 - 3 Người)
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Từ 7.5 Kg - 8.5 Kg ( 4 - 5 Người )
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Trên 10.5 Kg ( Trên 6 Người )
					.utilities-filter.pb-1.pt-1.add-border--bottom
						h4.title--primary Tiện Ích
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Khóa Trẻ Em
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Chức Năng Sấy
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Giặt Hơi Nước
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Tiết Kiệm Điện
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Khử Mùi Kháng Khuẩn
						.checkbox
							label
								input(type='checkbox', name='remember')
								|  Giặt Nước Nóng
