extends template/layout.pug
block main
	.container
		.row
			.col-sm-7
				h3.title--primary.title--b-default.pb-1.mb-2 Địa chỉ Giao Hàng
				form.form-horizontal(action='')
					.address.mb-1
						p Nguyễn Đức Nam
					a.add-color--secondary(href='') Chọn Địa Chỉ khác
					.shipping-type.mt-2
						h4.title--primary.title--b-default.pb-1.mb-1 Phương Thức Giao Hàng
						.shipping-type__item
							input#old-address(type='radio', name='old-address')
							label.control-label.form-txt.ml-1(for='old-address')
								| nhanh 
								span.shiping__price.ml-1
									| 20.000 
									span.flow-Price-currencySymbol VNĐ
						.shipping-type__item
							input#old-address(type='radio', name='old-address')
							label.control-label.form-txt.ml-1(for='old-address')
								| Bình Thường 
								span.shiping__price.ml-1
									| 10.000 
									span.flow-Price-currencySymbol VNĐ
						.shipping-type__item
							input#old-address(type='radio', name='old-address')
							label.control-label.form-txt.ml-1(for='old-address')
								| Rất nhanh 
								span.shiping__price.ml-1
									| 30.000 
									span.flow-Price-currencySymbol VNĐ
			.col-sm-4.col-sm-offset-1
				.cart-sidebar.col-inner
					h3.title--primary.title--b-default.pb-1.mb-1 Đơn Hàng Của Bạn
					table.shop_table.flow-checkout-review-order-table
						thead
							tr
								th.product-name Sản phẩm
								th.product-total.text-right Tổng cộng
						tbody
							tr.cart_item
								td.product-name.w-700
									p
										| Kéo gia cầm cán nhựa
										strong.product-quantity.small  × 2
									span.small.properties.add-color--default
										| Màu: 
										span.properties--value  Đen
								td.product-total.text-right
									span.flow-Price-amount.amount.add-color--secondary
										| 1,973,400
										span.flow-Price-currencySymbol VNĐ
						tfoot
							tr.cart-subtotal.add-border--bottom-g
								th Tổng phụ 
								td.text-right
									span.flow-Price-amount.amount.add-color--secondary
										| 1,973,400
										span.flow-Price-currencySymbol VNĐ
							tr.row_redeem_money.add-border--bottom-g
								th Khấu trừ tiền thưởng
								td.text-right
									span.flow-Price-amount.amount.add-color--secondary 0 VNĐ
							tr.order-total
								th Tổng cộng
								td.text-right
									strong
										span.flow-Price-amount.amount.add-color--secondary
											| 1,991,400
											span.flow-Price-currencySymbol VNĐ
					.proceed-to-checkout.text-center.mt-3
						a.checkout-button.btn.btn--primary(href='') Tiến hành thanh toán
