extends template/layout.pug
block main
	.container
		.row
			.total-order.col-sm-8.col-sm-offset-2
				h1.title--primary.title--b-default.pb-1.mb-2 Đơn Hàng #04081517
				form.form-horizontal(action='')
					.address
						h4 Phương Thức:
						label.control-label.form-txt.text-left(for='')
							.form-group
								input(type='radio', name='old-address', id='')
								span.ml-1
									| paypal
					a.btn.btn--secondary.text-capitalize.mt-3(href='') quay về thanh toán
				.customer-info
					.row.mb-2.mt-5
						.col-sm-2.col-xs-3
							p Họ và Tên :
						.col-sm-10.col-xs-9
							p Huỳnh An
					.row.mb-2
						.col-sm-2.col-xs-3
							p Địa Chỉ :
						.col-sm-10.col-xs-9
							p 51/12 Nguyễn Trãi
					.row.mb-2
						.col-sm-2.col-xs-3
							p Điện Thoại :
						.col-sm-10.col-xs-9
							p 0122 784 1153
					.row
						.col-sm-2.col-xs-3
							p Ghi Chú :
						.col-sm-10.col-xs-9
							p Lorem ipsum dolor sit amet, consectetur  .
				.order-info.mt-5
					table.table-hover.table
						thead
							tr
								th.product-name Sản phẩm
								th.product-table.product-total Tổng cộng
						tbody
							tr.line-item.order_item
								td.product-name.product-name
									a(href='') kim cương 11
									strong.product-quantity × 1
								td.product-total.product-total
									span.flow-Price-amount.amount
										| 223,232
										span.flow-Price-currencySymbol ₫
						tfoot
							tr
								th(scope='row') Tổng cộng:
								td
									span.flow-Price-amount.amount
										| 223,232
										span.flow-Price-currencySymbol ₫
							tr
								th(scope='row') Phương thức thanh toán:
								td Chuyển khoản ngân hàng
							tr
								th(scope='row') Tổng cộng:
								td
									span.flow-Price-amount.amount
										| 223,232
										span.flow-Price-currencySymbol ₫
							tr
								th Lưu ý:
								td gdfgdf
