extends template/layout.pug
block main
	.container
		.row
			.col-sm-7
				h3.title--primary.title--b-default.pb-1.mb-2 Địa chỉ của bạn
				form.form-horizontal(action='')
					.radio.address
						label.control-label.form-txt.text-left(for='old-address')
							.form-group
								input#old-address(type='radio', name='old-address', checked='')
								p
									| Nguyễn Đức Nam 
									br
									|  số 9 Đinh Tiên Hoàng 
									br
									|  Quận 1 TPHCM
					.radio.address
						label.control-label.form-txt.text-left(for='new-address')
							.form-group
								input#new-address(type='radio', name='old-address')
								p Nhập Địa Chỉ Mới
						.form-new__address.group-form.mt-2
							.form-group
								label.control-label.form-txt.pull-left.text-left(for='full-name') Họ và Tên:
								.form-content.pull-right
									input#full-name.form-control(type='text', placeholder='', name='full-name')
							.form-group
								label.control-label.form-txt.pull-left.text-left(for='address') Address:
								.form-content.pull-right
									input#address.form-control(type='text', placeholder='', name='address')
							.form-group
								.form-txt.pull-left
									label.control-label.text-left(for='provincial') Tỉnh/Thành Phố
								.form-content.pull-right
									select#provincial.input-medium.bfh-countries.form-control(name='provincial', data-country='US')
							.form-group
								label.control-label.form-txt.text-left.pull-left(for='pwd') Điện Thoại:
								.form-content.pull-right
									input#pwd.form-control(type='text', placeholder='Enter password')
							.form-group
								label.control-label.form-txt.text-left.pull-left(for='comment') Comment:
								.form-content.pull-right
									textarea#comment.form-control(rows='5')
			.col-sm-4.col-sm-offset-1
				.cart-sidebar.col-inner
					h3.title--primary.title--b-default.pb-1.mb-1 Đơn Hàng Của Bạn
					table.shop_table.flow-checkout-review-order-table
						thead
							tr
								th.product-name Sản phẩm
								th.product-total.text-right Tổng cộng
						tbody
							tr.cart__item
								td.product-name.w-700
									p
										| Kéo gia cầm cán nhựa
										strong.product-quantity.small  × 2
									span.small.properties.add-color--default
										| Màu: 
										span.properties--value  Đen
								td.product-total.text-right
									span.flow-Price-amount.amount.add-color--secondary
										| 1,973,400
										span.flow-Price-currencySymbol VNĐ
						tfoot
							tr.cart-subtotal.add-border--bottom-g
								th Tổng phụ 
								td.text-right
									span.flow-Price-amount.amount.add-color--secondary
										| 1,973,400
										span.flow-Price-currencySymbol VNĐ
							tr.row_redeem_money.add-border--bottom-g
								th Khấu trừ tiền thưởng
								td.text-right
									span.flow-Price-amount.amount.add-color--secondary 0 VNĐ
							tr.order-total
								th Tổng cộng
								td.text-right
									strong
										span.flow-Price-amount.amount.add-color--secondary
											| 1,991,400
											span.flow-Price-currencySymbol VNĐ
					.proceed-to-checkout.text-center.mt-3
						a.checkout-button.btn.btn--primary(href='') Tiến hành thanh toán
