extends template/layout.pug
block main
	.container
		h2.title--primary.text-capitalize.mb-1 so sánh sản phẩm
		.compare__content.table-responsive
			table.table-bordered.table.text-center
				tr
					td
						h4.text-capitalize.text-center Hình ảnh
					td
						.img-wapper.mt-3
							img(src='images/may-giay-lon-1.jpg', alt='')
					td
						.img-wapper.mt-3
							img(src='images/may-giay-lon-1.jpg', alt='')
				tr
					td
						h4.text-capitalize.text-center PRODUCT NAME
					td
						a.add-color--secondary(href='') máy giặt
					td
						a.add-color--secondary(href='') máy giặt
				tr
					td
						h4.text-capitalize.text-center PRICE
					td
						span.flow-Price-amount.amount
							| 2,223,100 
							span.flow-Price-currencySymbol VNĐ
					td
						span.flow-Price-amount.amount
							| 2,223,100 
							span.flow-Price-currencySymbol VNĐ
				tr
					td
						h4.text-capitalize.text-center ADD TO CART
					td
						a.btn.btn--secondary(href='') add to cart
					td
						a.btn.btn--secondary(href='') add to cart
				tr
					td
						h4.text-capitalize.text-center REMOVE
					td
						a.btn-close--cicle(href='')
					td
						a.btn-close--cicle(href='')
			.back-to-shop.text-right
				a.btn.btn--secondary.btn-back-to-shop(href='')
					span Quay Lại Cửa hàng 
