extends template/layout.pug

block main
	h4.title--primary.text-center.pb-2.mt-2  Trung Tâm Mua Sắm Gia Thành
	section.rules.main-block
		.container
			.row.text-center
				.col-sm-4.item.add-border--right
					a(href='#') Hướng Dẫn Mua Hàng 
				.col-sm-4.item.add-border--right
					a(href='#') Điều Khoản Giao Nhận
				.col-sm-4.item
					a(href='#') Câu Hỏi Thường Gặp 
	section.grid-slider-2.main-block
		.container
			.row
				.col-sm-6
					.banner-slider.left-products.create-slider(data-slider='.left-products')
						.swiper-wrapper
							.swiper-slide.banner-inner
								.img-wapper
									img.img-responsive(src='images/banner-gird-02.png', alt='')
								.caption-banner--right.caption-banner
									h1.title--primary Sản Phẩm Mới
									a.btn.btn--secondary.mt-1(href='#') Xem Ngay
							.swiper-slide.banner-inner
								.img-wapper
									img.img-responsive(src='images/banner-gird-02.png', alt='')
								.caption-banner--right.caption-banner
									h1.title--primary Sản Phẩm Mới
									a.btn.btn--secondary.mt-1(href='#') Xem Ngay
							.swiper-slide.banner-inner
								.img-wapper
									img.img-responsive(src='images/banner-gird-02.png', alt='')
								.caption-banner--right.caption-banner
									h1.title--primary Sản Phẩm Mới
									a.btn.btn--secondary.mt-1(href='#') Xem Ngay
						.swiper-pagination
						.swiper-button-next.left-products-next
						.swiper-button-prev.left-products-prev
				.col-sm-6
					.banner-slider.right-products.create-slider(data-slider='.right-products')
						.swiper-wrapper
							.swiper-slide.banner-inner
								.img-wapper
									img.img-responsive(src='images/banner-gird-01.png', alt='')
								.caption-banner--left.caption-banner
									h1.title--primary Sản Phẩm Khuyến Mãi
									a.btn.btn--secondary.mt-1(href='#') Xem Ngay
							.swiper-slide.banner-inner
								.img-wapper
									img.img-responsive(src='images/banner-gird-01.png', alt='')
								.caption-banner--left.caption-banner
									h1.title--primary Sản Phẩm Khuyến Mãi
									a.btn.btn--secondary.mt-1(href='#') Xem Ngay
							.swiper-slide.banner-inner
								.img-wapper
									img.img-responsive(src='images/banner-gird-01.png', alt='')
								.caption-banner--left.caption-banner
									h1.title--primary Sản Phẩm Khuyến Mãi
									a.btn.btn--secondary.mt-1(href='#') Xem Ngay
						.swiper-pagination
						.swiper-button-next.right-products-next
						.swiper-button-prev.right-products-prev
	section.slider-full.main-block
		.container
			h1.title--primary.mb-1 Sản Phẩm Theo Bộ
			.product-group.banner-slider.create-slider(data-slider='.product-group')
				.swiper-wrapper
					.swiper-slide
						.product-group__item
							.img-wapper
								img.img-responsive(src='images/banner-slider.png', alt='')
							.product-group__item--detail
								span.btn.btn--black.btn-pointer
					.swiper-slide
						.img-wapper
							img.img-responsive(src='images/banner-slider.png', alt='')
					.swiper-slide
						.img-wapper
							img.img-responsive(src='images/banner-slider.png', alt='')
				.swiper-pagination
				.swiper-button-next.product-group-next
				.swiper-button-prev.product-group-prev
	section.new-products.main-block
		.container
			.product-slider
				h1.title--primary Sản Phẩm Mới
				.slider-gird-4.slider-gird-1.create-slider(data-slider='.slider-gird-1,4,3,2,1,30')
					.swiper-wrapper
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider(data-slider='.product-slider__images,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images-next
													.swiper-button-prev.product-slider__images-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider(data-slider='.product-slider__images,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images-next
													.swiper-button-prev.product-slider__images-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images1.create-slider(data-slider='.product-slider__images1,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images1-next
													.swiper-button-prev.product-slider__images1-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider2(data-slider='.product-slider__images2,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images2-next
													.swiper-button-prev.product-slider__images2-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images3.create-slider(data-slider='.product-slider__images3,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images3-next
													.swiper-button-prev.product-slider__images3-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider4(data-slider='.product-slider__images4,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images4-next
													.swiper-button-prev.product-slider__images4-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider5(data-slider='.product-slider__images5,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images5-next
													.swiper-button-prev.product-slider__images5-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images6.create-slider(data-slider='.product-slider__images6,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images6-next
													.swiper-button-prev.product-slider__images6-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
					.swiper-grid-next.swiper-button-next.slider-gird-1-next
					.swiper-grid-prev.swiper-button-prev.slider-gird-1-prev
					.see-more
						a.btn--border(href='')
							| Xem Thêm Sản Phẩm
	section.banner-signup.banner-300.main-block(data-bg='images/GT_Home_171112_14.png')
		.container
			.col-sm-6.col-md-6.col-xs-12
			.col-sm-6.col-md-5.col-xs-12
				.caption-signup
					h3.title--white.mb-1 Ưu Đãi Thành Viên
					p.mb-1 Đăng Ký Hội Viên tại trung tâm mua sắm Gia Thành để nhận những ưu đãi tốt nhất
					form
						.input-group(data-mh='input-btn')
							input.form-control.main-ip(type='text')
							.input-group-btn
								button.btn.btn--primary(type='submit')
									| Đăng Ký
	section.sale-products.main-block
		.container
			.product-slider
				h1.title--primary.mt-3 Sản Phẩm Mới
				.slider-gird-4.slider-gird-2.create-slider(data-slider='.slider-gird-2,4,3,2,1,30')
					.swiper-wrapper
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images-1.create-slider(data-slider='.product-slider__images-1,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images-1-next
													.swiper-button-prev.product-slider__images-1-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images-2.create-slider(data-slider='.product-slider__images-2,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images-2-next
													.swiper-button-prev.product-slider__images-2-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images-3.create-slider(data-slider='.product-slider__images-3,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images-3-next
													.swiper-button-prev.product-slider__images-3-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images-4.create-slider(data-slider='.product-slider__images-4,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images-4-next
													.swiper-button-prev.product-slider__images-4-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images-5.create-slider(data-slider='.product-slider__images-5,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images-5-next
													.swiper-button-prev.product-slider__images-5-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images-6.create-slider(data-slider='.product-slider__images-6,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images-6-next
													.swiper-button-prev.product-slider__images-6-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider-7(data-slider='.product-slider__images-7,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images-7-next
													.swiper-button-prev.product-slider__images-7-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
									.rating
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
										span.fa.fa-star.checked
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images-8.create-slider(data-slider='.product-slider__images-8,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images-8-next
													.swiper-button-prev.product-slider__images-8-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare
														span so sánh
									// hover-product
					.swiper-grid-next.swiper-button-next.slider-gird-2-next
					.swiper-grid-prev.swiper-button-prev.slider-gird-2-prev
					.see-more
						a.btn--border(href='')
							| Xem Thêm Sản Phẩm
