extends template/layout.pug
block main
	.container
		.row
			.col-sm-12.col-md-9.col-lg-9.box-log
				ul.breadcrumb
					li
						a(href='#') Home
					li.active
						a.add-color--primary(href='#') News
				.blog__post.mt-1
					.row
						.col-sm-5.mt-2
							.img-wapper
								img.img-responsive(src='images/new-01.jpg', alt='')
						.col-sm-7.mt-2
							.desc
								h2.text-capitalize.mb-1
									a.add-color--primary(href='') VỆ SINH TIVI SẠCH BÓNG, MỚI TINH ĐÓN TẾT
								.desc__meta.mb-1
									span.author
										a.add-color--secondary(href='')
											i.icon-user
											|                                         Thái Nhật Quang
									span.date.ml-1
										time.entry-date
											i.fa.fa-calendar
											span 26 - 01 - 2018
								.desc__content.mb-2
									p
										| Tivi không những là một thiết bị giải trí đơn thuần của gia đình mà là một vật dụng dùng để trang trí đem đến phong cách cho cả ngôi nhà. Vì vậy, việc vệ sinh tivi sao cho sạch bong, mới tinh là một việc nên làm vào những ngày tết đến. Nhưng không mấy ai biết được cách vệ sinh tivi sao cho đúng cách nhất. Hãy tham khảo bài viết dưới đây để vệ sinh hiệu quả nhé! Vệ sinh xung quanh phần vỏ tivi trướcViệc đầu tiên khi vệ sinh tivi đó chính là bạn nên...
								.bog-tag
									span.pull-right.readmore
										a.add-color--secondary(href='') Xem Thêm
				.blog__post.mt-1
					.row
						.col-sm-5.mt-2
							.img-wapper
								img.img-responsive(src='images/new-02.jpg', alt='')
						.col-sm-7.mt-2
							.desc
								h2.text-capitalize.mb-1
									a.add-color--primary(href='') VỆ SINH TIVI SẠCH BÓNG, MỚI TINH ĐÓN TẾT
								.desc__meta.mb-1
									span.author
										a.add-color--secondary(href='')
											i.icon-user
											|                                         Thái Nhật Quang
									span.date.ml-1
										time.entry-date
											i.fa.fa-calendar
											span 26 - 01 - 2018
								.desc__content.mb-2
									p
										| Tivi không những là một thiết bị giải trí đơn thuần của gia đình mà là một vật dụng dùng để trang trí đem đến phong cách cho cả ngôi nhà. Vì vậy, việc vệ sinh tivi sao cho sạch bong, mới tinh là một việc nên làm vào những ngày tết đến. Nhưng không mấy ai biết được cách vệ sinh tivi sao cho đúng cách nhất. Hãy tham khảo bài viết dưới đây để vệ sinh hiệu quả nhé! Vệ sinh xung quanh phần vỏ tivi trướcViệc đầu tiên khi vệ sinh tivi đó chính là bạn nên...
								.bog-tag
									span.pull-right.readmore
										a.add-color--secondary(href='') Xem Thêm
				.blog__post.mt-1
					.row
						.col-sm-5.mt-2
							.img-wapper
								img.img-responsive(src='images/new-03.jpg', alt='')
						.col-sm-7.mt-2
							.desc
								h2.text-capitalize.mb-1
									a.add-color--primary(href='') VỆ SINH TIVI SẠCH BÓNG, MỚI TINH ĐÓN TẾT
								.desc__meta.mb-1
									span.author
										a.add-color--secondary(href='')
											i.icon-user
											|                                         Thái Nhật Quang
									span.date.ml-1
										time.entry-date
											i.fa.fa-calendar
											span 26 - 01 - 2018
								.desc__content.mb-2
									p
										| Tivi không những là một thiết bị giải trí đơn thuần của gia đình mà là một vật dụng dùng để trang trí đem đến phong cách cho cả ngôi nhà. Vì vậy, việc vệ sinh tivi sao cho sạch bong, mới tinh là một việc nên làm vào những ngày tết đến. Nhưng không mấy ai biết được cách vệ sinh tivi sao cho đúng cách nhất. Hãy tham khảo bài viết dưới đây để vệ sinh hiệu quả nhé! Vệ sinh xung quanh phần vỏ tivi trướcViệc đầu tiên khi vệ sinh tivi đó chính là bạn nên...
								.bog-tag
									span.pull-right.readmore
										a.add-color--secondary(href='') Xem Thêm
				.blog__post.mt-1
					.row
						.col-sm-5.mt-2
							.img-wapper
								img.img-responsive(src='images/new-04.jpg', alt='')
						.col-sm-7.mt-2
							.desc
								h2.text-capitalize.mb-1
									a.add-color--primary(href='') VỆ SINH TIVI SẠCH BÓNG, MỚI TINH ĐÓN TẾT
								.desc__meta.mb-1
									span.author
										a.add-color--secondary(href='')
											i.icon-user
											|                                         Thái Nhật Quang
									span.date.ml-1
										time.entry-date
											i.fa.fa-calendar
											span 26 - 01 - 2018
								.desc__content.mb-2
									p
										| Tivi không những là một thiết bị giải trí đơn thuần của gia đình mà là một vật dụng dùng để trang trí đem đến phong cách cho cả ngôi nhà. Vì vậy, việc vệ sinh tivi sao cho sạch bong, mới tinh là một việc nên làm vào những ngày tết đến. Nhưng không mấy ai biết được cách vệ sinh tivi sao cho đúng cách nhất. Hãy tham khảo bài viết dưới đây để vệ sinh hiệu quả nhé! Vệ sinh xung quanh phần vỏ tivi trướcViệc đầu tiên khi vệ sinh tivi đó chính là bạn nên...
								.bog-tag
									span.pull-right.readmore
										a.add-color--secondary(href='') Xem Thêm
				.text-center.blog__pagination
					ul.pagination
						li
							a(href='#') 1
						li.active
							a(href='#') 2
						li
							a(href='#') 3
						li
							a(href='#') 4
						li
							a(href='#') 5
			.col-sm-12.col-md-3.col-lg-3
				.sidebar
					.widget.widget_popular_entries.mt-2
						h2.widget-title.title--primary.text-uppercase BÀI VIẾT MỚI NHẤT
						ul.media-list
							li.media-list__item
								p.media-heading
									a(href='') VỆ SINH TIVI SẠCH BÓNG, MỚI TINH ĐÓN TẾT
								p.post-date 26 - 01 - 2018
							li.media-list__item
								p.media-heading
									a(href='') BÍ QUYẾT SỬ DỤNG MÁY GIẶT TIẾT KIỆM ĐIỆN VÀ NƯỚC
								p.post-date 24 - 01 - 2018
