extends template/layout.pug

block main
	.container
		section.shop--container
			.row
				.col-sm-7.col-md-4.col-lg-4.mt-2
					#product-gallery.flexslider.product-gallery(data-slide='#product-gallery,#product-gallery__thumbnail')
						ul.slides
							li
								img.img-responsive(src='images/loa-lon.jpg')
							li
								img.img-responsive(src='images/lo-suoi-lon.jpg')
							li
								img.img-responsive(src='images/may-anh-lon.jpg')
							li
								img.img-responsive(src='images/may-giay-lon-1.jpg')
							li
								img.img-responsive(src='images/may-giay-lon-1.jpg')
							li
								img.img-responsive(src='images/may-giay-lon-1.jpg')
					#product-gallery__thumbnail.mt-2.flexslider.product-gallery__thumbnail
						ul.slides
							li
								img.img-responsive(src='images/loa-lon.jpg')
							li
								img.img-responsive(src='images/lo-suoi-lon.jpg')
							li
								img.img-responsive(src='images/may-anh-lon.jpg')
							li
								img.img-responsive(src='images/may-giay-lon-1.jpg')
							li
								img.img-responsive(src='images/may-giay-lon-1.jpg')
							li
								img.img-responsive(src='images/may-giay-lon-1.jpg')
				.col-sm-5.col-md-4.col-lg-5.mt-2
					.product--info
						h1.title--primary.text-capitalize máy giặt lg 3550
						.rating
							span.fa.fa-star.checked
							span.fa.fa-star.checked
							span.fa.fa-star.checked
							span.fa.fa-star.checked
							span.fa.fa-star.checked
							a.add-color--secondary.fa-1(href='#review') 50 đánh giá
						h5.title--primary.text-capitalize
							| Giá Sản Phẩm: 
							span.title--secondary 7.500.000đ
						h6.title--secondary.mt-1 Ưu Đãi Tại Gia Thành
						ul.w-400.list--dots
							li Tặng Túi Nước Giặt ARIEL 
							li Trả góp 0% cùng HD SaiSon, the tín dụng: HSBC, Sacombank
							li Đổi Trả Trong Vòng 35 ngày
							li Hoàn Tiền 100% Nếu Siêu Thị Bán Rẻ Hơn 
							li Tặng Combo Dịch Vụ & Phiếu Mua Hàng Trị Giá 1.500.000Đ
							li Tặng Bộ 3 Nồi Sứ DongHwa GF-705S3(140801)
							li Trả góp 0% CÙng Với ACS
							li Trả góp 0% cùng HD SaiSon
					.form--cart
						form(action='')
							.form-group.row
								.col-lg-3.mt-1
									label.w-700.add-color--primary(for='inputlg') Số Lượng Mua
								.col-lg-4.mt-1.btn-group
									span.input-number-decrement.btn –
									input.input-number.btn(type='text', value='1', min='0', max='6')
									span.input-number-increment.btn +
								.col-lg-5.mt-1.total-price
									h5.title--primary.text-capitalize
										| tổng tiền: 
										span.title--secondary 7.500.000đ
							.form-group.row
								.col-lg-3.mt-1
									label.w-700.add-color--primary(for='inputlg ') Màu Sắc
								.col-lg-4.mt-1
									.form-group.form-select
										.select-side
											i.glyphicon.glyphicon-menu-down.add-color--secondary
										select#sel1.form-control.w-500
											option 1
											option 2
											option 3
											option 4
								.col-lg-5.mt-1
									a.btn.btn--secondary.btn-small.btn-cart.mr-1(href='')
										span.icon-cart
									a.btn.btn--secondary.btn-small.btn-wishlist(href='')
										span.icon-heart
				.col-sm-12.col-md-4.col-lg-3.mt-2
					.sidebar-shipping
						.sidebar-shipping__content.add-bgcolor--thumbnail.mb-2
							.option-shipping.pb-3
								h5
									a.w-500(href='') Tùy Chọn Giao Hàng
								p Giao Hàng Tại Khu Vực 
								h5
									a.w-500.local-option(href='') Quận 5, TP. Hồ Chí Minh
									a.add-color--secondary.fa-1.ml-2.change-local(href='') Thay Đổi
								.sidebar-local
									form(action='')
										.form-group
											label(for='city') Select list (select one):
											select#city.form-control.local
												option 1
												option 2
												option 3
												option 4
										.form-group
											label(for='district') Select list (select one):
											select#district.form-control.local
												option 1
												option 2
												option 3
												option 4
							.type-shipping
								.type-shipping__saving
									span.icon-truck.add-color--secondary.w-600.fa-4.type-shipping__block
									p.fa-1.type-shipping__info
										strong Tiết Kiệm
										|  : Trước Thứ 
										br
										| 4 ( 25-11-2017)
									span.w-700.type-shipping__block.fa-1 Miễn Phí
								.type-shipping__fast.mt-2
									span.icon-truck-2.add-color--secondary.w-600.fa-4.type-shipping__block
									p.fa-1.type-shipping__info
										strong Nhanh
										|  : Trước Thứ 
										br
										| 2 (23-11-2017)
									span.w-700.type-shipping__block.fa-1 Miễn Phí
							.info-shipping
								.info-shipping__item
									span.icon-money.add-color--secondary.w-600.fa-4.icon
									p.fa-1.desc Thanh Toán Khi Nhận Hàng
								.info-shipping__item.mt-2
									span.icon-slice8.add-color--secondary.w-600.fa-4.icon
									p.fa-1.desc
										| Đổi Trả Hàng Trong 30 Ngày ( 
										a.add-color--secondary(href='') Xem Chi Tiết 
										| Quy Định Đổi Trả )
								.info-shipping__item.mt-2
									span.icon-medal.add-color--secondary.w-600.fa-4.icon
									p.fa-1.desc Thời  Hạn Bảo Hành 2 Năm ( Theo Các Chính Sách Bảo Hành Từ Nhãn Hàng)
		section.nav-product.main-block
			.nav-product__content
				ul.nav.nav-tabs
					li.active
						a(data-toggle='tab', href='#specifications') Thông Số Kỹ Thuật
					li
						a(data-toggle='tab', href='#product-information') Thông Tin Sản Phẩm
					li
						a(data-toggle='tab', href='#products-img') Hình Ảnh
					li
						a(data-toggle='tab', href='#review') Đánh Giá
		section.product-detail__content.main-block
			.tab-content
				#specifications.tab-pane.fade.in.active.container-fluid
					.row
						h1.title--primary.text-capitalize Thông số kỹ thuật
						.col-sm-7.specifications__item(data-mh='specifications')
							.specifications__gallery.create-slider(data-slider='.specifications__gallery')
								.swiper-wrapper
									.swiper-slide
										.img-wapper
											img.img-responsive(src='images/may-giat-detail.png', alt='')
									.swiper-slide
										.img-wapper
											img.img-responsive(src='images/may-giat-detail.png', alt='')
									.swiper-slide
										.img-wapper
											img.img-responsive(src='images/may-giat-detail.png', alt='')
									.swiper-slide
										.img-wapper
											img.img-responsive(src='images/may-giat-detail.png', alt='')
									.swiper-slide
										.img-wapper
											img.img-responsive(src='images/may-giat-detail.png', alt='')
									.swiper-slide
										.img-wapper
											img.img-responsive(src='images/may-giat-detail.png', alt='')
									.swiper-slide
										.img-wapper
											img.img-responsive(src='images/may-giat-detail.png', alt='')
								.swiper-pagination
								.swiper-button-next.specifications__gallery-next
								.swiper-button-prev.specifications__gallery-prev
						.col-sm-5.specifications__item(data-mh='specifications')
							.specifications__content.add-bgcolor--thumbnail.pt-2.pb-2
								table
									tr
										td.w-700 Hãng Sản Xuất
										td LG - Hàn Quốc    
									tr
										td.w-700 Tên Sản Phẩm 
										td Máy Giặt LG 3550
									tr
										td.w-700 Dòng Sản Phẩm  
										td F1450SPRE
									tr
										td.w-700 Xuất Xứ
										td Thái Lan
									tr
										td.w-700 Kích Thước Sản Phẩm
										td Cao: 805  Rộng:600
									tr
										td.w-700 Công Suất
										td 10.5 Kg
									tr
										td.w-700 Dòng Điện 
										td 220V
									tr
										td.w-700 Tiết Kiệm Điện Năng 
										td Inverter
									tr
										td.w-700 Tùy Chọn Tốc Độ Vắt
										td 1400 RMP
									tr
										td.w-700 Vật Liệu Lồng Giặt / Sấy
										td Cao: 805  Rộng:600
									tr
										td.w-700 Chỉ Báo Điện Tử
										td Có   
									tr
										td.w-700 Đèn Báo Vận Hành
										td có
									tr
										td.w-700 Dòng Sản Phẩm  
										td Có
									tr
										td.w-700 Xuất Xứ
										td Tiếng Anh và Tiếng Việt
									tr
										td.w-700 Hệ Thống Lọc
										td Bộ Lọc Bơm Xả
									tr
										td.w-700 Giặt Nhanh(Speed)
										td Tốc độ 14 phút
									tr
										td.w-700 Dòng Sản Phẩm  
										td Có
									tr
										td.w-700 Xuất Xứ
										td Tiếng Anh và Tiếng Việt
									tr
										td.w-700 Hệ Thống Lọc
										td Bộ Lọc Bơm Xả
									tr
										td.w-700 Giặt Nhanh(Speed)
										td Tốc độ 14 phút
									tr
										td.w-700 Dòng Sản Phẩm  
										td Có
				#product-information.tab-pane.fade
					article.block-editor
						.editor
							h1 Thông tin Sản phẩm
							h3 Công nghệ 3 Tiết kiệm TURBOWASH™
							img(src='images/banner-detail.png', alt='')
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, qui, culpa. Ducimus odit fugiat, minus recusandae! Nam eius, incidunt veritatis suscipit nihil, asperiores neque esse unde numquam repudiandae, rerum ab?
							h3 Công nghệ 3 Tiết kiệm TURBOWASH™
							img(src='images/banner-mid-detail.png', alt='')
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, qui, culpa. Ducimus odit fugiat, minus recusandae! Nam eius, incidunt veritatis suscipit nihil, asperiores neque esse unde numquam repudiandae, rerum ab?
						.block-shadow
				#products-img.tab-pane.fade
					.product-slider
						h1.title--primary.mt-3.mb-1 Sản Phẩm Mới
						#products-img__slider.carousel.slide(data-ride='carousel')
							// Indicators
							ol.carousel-indicators
								li.active(data-target='#products-img__slider', data-slide-to='0')
								li(data-target='#products-img__slider', data-slide-to='1')
								li(data-target='#products-img__slider', data-slide-to='2')
								li(data-target='#products-img__slider', data-slide-to='3')
								li(data-target='#products-img__slider', data-slide-to='4')
							// Wrapper for slides
							.carousel-inner
								.item.active
									img.img-responsive(src='images/img-product-detail.png')
								.item
									img.img-responsive(src='images/img-product-detail.png')
								.item
									img.img-responsive(src='images/img-product-detail.png')
								.item
									img.img-responsive(src='images/img-product-detail.png')
								.item
									img.img-responsive(src='images/img-product-detail.png')
							// Left and right controls
							a.left.carousel-control.products-img__control.products-img__left(href='#products-img__slider', data-slide='prev')
							a.right.carousel-control.products-img__control.products-img__right(href='#products-img__slider', data-slide='next')
				#review.tab-pane.fade
					.conment.panel-review
						.conment-list.mt-3
							.comment__content.pl-2.pt-2.pb-2.pr-4.add-bgcolor--thumbnail
								.heading
									.review-name.mr-2.pull-left
										h5.mb-1.add-color--primary Huỳnh An
									.stars.br-theme-bootstrap-stars.pull-left.mr-2
										.rating.br-widget
											a.br-selected(href='#')
											a.br-selected(href='#')
											a.br-selected(href='#')
											a.br-selected(href='#')
											a.br-selected(href='#')
									p.date__comment.pull-left By NouThemes - July 18, 2017
									.clearfix
								.comment__detail
									p
										| Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
								.list-reply.mt-1
									blockquote.list-reply__content
										.mb-1
											p.list-reply__title.pull-left.mr-1.w-700.add-color--primary Ông Lê Quân 
											p.date__comment.pull-left By NouThemes - July 18, 2017
											.clearfix
										p
											| Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo
								a.btn.btn--border.pull-right(href='')  Thảo luận 
								.clearfix
					.product__review.mt-3
						#review_form_wrapper
							#review_form
								#respond.comment-respond
									h3#reply-title.comment-reply-title.mb-1 Đánh Giá Của Bạn
									form#commentform.comment-form(action='', method='post')
										.form-group
											.stars.stars-example-bootstrap
												select.example-bootstrap(name='rating', autocomplete='off')
													option(value='1') 1
													option(value='2') 2
													option(value='3') 3
													option(value='4') 4
													option(value='5') 5
										.form-group
											label.panel-review-label(for='comment') Your comment
											textarea#comment.form-control(name='comment', aria-required='true', rows='4')
										.row
											.col-md-4.col-sm-12.col-xs-12
												.form-group
													label.panel-review-label(for='author') Name *
													input#author.form-control(name='author', type='text', value='', size='30', required='')
											.col-md-4.col-sm-12.col-xs-12
												.form-group
													label.panel-review-label(for='email') Email *
													input#email.form-control(name='email', type='text', value='', size='30', required='')
											.col-md-4.col-sm-12.col-xs-12
												.form-group
													label.panel-review-label(for='url') Website
													input#url.form-control(name='url', type='text', value='', size='30')
										.form-group.mt-1
											button#submit.submit.btn.btn--primary(type='submit', name='submit') Post Comment
								// #respond
		section.product-synchronous.mt-5
			.product-slider
				h1.title--primary.mt-3 Sản Phẩm Đồng Bộ
				.slider-gird-4.slider-gird-1.create-slider(data-slider='.slider-gird-1,4,3,2,1,30')
					.swiper-wrapper
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
										.rating
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider(data-slider='.product-slider__images,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images-next
													.swiper-button-prev.product-slider__images-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare.icon
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
										.rating
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider(data-slider='.product-slider__images,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images-next
													.swiper-button-prev.product-slider__images-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare.icon
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
										.rating
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images1.create-slider(data-slider='.product-slider__images1,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images1-next
													.swiper-button-prev.product-slider__images1-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare.icon
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
										.rating
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider2(data-slider='.product-slider__images2,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images2-next
													.swiper-button-prev.product-slider__images2-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare.icon
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
										.rating
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images3.create-slider(data-slider='.product-slider__images3,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images3-next
													.swiper-button-prev.product-slider__images3-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare.icon
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
										.rating
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider4(data-slider='.product-slider__images4,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images4-next
													.swiper-button-prev.product-slider__images4-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare.icon
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
										.rating
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images.create-slider5(data-slider='.product-slider__images5,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images5-next
													.swiper-button-prev.product-slider__images5-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare.icon
														span so sánh
									// hover-product
						.swiper-slide
							.product-small
								.product-small__header.pl-2.pt-2
									.product__title.pull-left
										a(href='')
											h5 Máy Giặt LG 3350
										.rating
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
											span.fa.fa-star.checked
									.product__new.pull-left
										span.btn.btn-small.btn--danger.w-700 New
									.clearfix
								.product-small__mid
									.img-wapper
										img.img-responsive(src='images/iphone.png', alt='')
									.product-price
										h5.title-primary 3.500.000đ
										p Lorem ipsum dolor sit.
										p Lorem ipsum dolor sit.
									// hover-product
									.hover-product
										.hover-product__mid
											.product__loading
												.loading
												.product-slider__images6.create-slider(data-slider='.product-slider__images6,1,30')
													.swiper-wrapper
														//
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
															<div class="swiper-slide"> <img src="./images/tu_lanh_nho.png" alt="" ></div>
													.swiper-button-next.product-slider__images6-next
													.swiper-button-prev.product-slider__images6-prev
											.product-info.pl-1
												ul
													li Khối lượng giặt:  7.5 kg 
													li Kiểu máy giặt Cửa trước 
													li  Lồng giặt Ngan
													li  Tốc độ quay vắt:  750 vòng/phút
													li  Công nghệ Inverter
													li  Bảng điều khiển: Cảm ứng
													li  Điện áp 220 - 240 V/50-60Hz
										.hover-product__bot.text-capitalize
											.payment.pull-left.add-color--secondary
												.product__icon.product__cart
													a.add-color--secondary(href='')
														span.icon.icon-cart
												.product__icon.product__heart
													a.add-color--secondary(href='')
														span.icon.icon-heart
												.product__icon.product__same
													a.add-color--secondary(href='')
														span.icon-compare.icon
														span so sánh
									// hover-product
					.swiper-grid-next.swiper-button-next.slider-gird-1-next
					.swiper-grid-prev.swiper-button-prev.slider-gird-1-prev
					.see-more
						a.btn--border(href='')
							| Xem Thêm Sản Phẩm
