extends template/layout.pug
block main
	.container
		h1.title--primary.mb-1.text-capitalize btn responsive
		.sidebar__icon.mt-2.mb-2
			span.btn.btn--primary.icon-hambuger-dots.icon.btn-responsive--left(data-responsive='.repsonsive-left')
				| left
			span.btn.btn--primary.icon-hambuger-dots.icon.btn-responsive--right(data-responsive='.repsonsive-right')
				| right
		.sidebar-repsonsive.repsonsive-left
			.overlay
			.sidebar-responsive__content
				.sidebar__content
					ul.breadcrumb
						li
							a(href='#') Home
						li.active
							a.add-color--primary(href='#') Category
					form(action='')
						.highlight-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Nổi Bật
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Khuyến Mãi
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Hàng Mới Về
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Máy Giặt Cao Cấp
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Máy Giặt Inverter
									span.badge--seach (5)
						.price-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Giá bán
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Dưới 4 Triệu
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Từ 4 Triệu - 7 Triệu
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Từ 7 Triệu - 10 Triệu
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Trên 10 Triệu
									span.badge--seach (5)
						.brand-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Nhãn Hiệu
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Panasonic
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  SamSung
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  LG
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Electrolux
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Toshiba
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Sharp
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Hitachi
							.checkbox
								label
									input(type='checkbox', name='remember')
									| Candy
							.checkbox
								label
									input(type='checkbox', name='remember')
									| Mikea
						.origin-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Xuất Xứ
							.checkbox
								label
									input(type='checkbox', name='remember')
									| Thái Lan
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Việt Nam
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Nhật Bản
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									| Hàn quốc
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									| Mỹ
									span.badge--seach (5)
						.washing-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Loại Máy Giặt
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Cửa trước
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Cửa Trên
						.weight-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Khối Lượng Giặt
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Dưới 7.5 Kg ( 2 - 3 Người)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Từ 7.5 Kg - 8.5 Kg ( 4 - 5 Người )
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Trên 10.5 Kg ( Trên 6 Người )
						.utilities-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Tiện Ích
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Khóa Trẻ Em
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Chức Năng Sấy
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Giặt Hơi Nước
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Tiết Kiệm Điện
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Khử Mùi Kháng Khuẩn
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Giặt Nước Nóng
		.sidebar-repsonsive.repsonsive-right
			.overlay
			.sidebar-responsive__content
				.sidebar__content
					.btn--close
					ul.breadcrumb
						li
							a(href='#') Home
						li.active
							a.add-color--primary(href='#') Category
					form(action='')
						.highlight-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Nổi Bật
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Khuyến Mãi
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Hàng Mới Về
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Máy Giặt Cao Cấp
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Máy Giặt Inverter
									span.badge--seach (5)
						.price-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Giá bán
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Dưới 4 Triệu
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Từ 4 Triệu - 7 Triệu
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Từ 7 Triệu - 10 Triệu
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Trên 10 Triệu
									span.badge--seach (5)
						.brand-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Nhãn Hiệu
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Panasonic
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  SamSung
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  LG
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Electrolux
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Toshiba
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Sharp
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Hitachi
							.checkbox
								label
									input(type='checkbox', name='remember')
									| Candy
							.checkbox
								label
									input(type='checkbox', name='remember')
									| Mikea
						.origin-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Xuất Xứ
							.checkbox
								label
									input(type='checkbox', name='remember')
									| Thái Lan
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Việt Nam
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Nhật Bản
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									| Hàn quốc
									span.badge--seach (5)
							.checkbox
								label
									input(type='checkbox', name='remember')
									| Mỹ
									span.badge--seach (5)
						.washing-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Loại Máy Giặt
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Cửa trước
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Cửa Trên
						.weight-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Khối Lượng Giặt
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Dưới 7.5 Kg ( 2 - 3 Người)
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Từ 7.5 Kg - 8.5 Kg ( 4 - 5 Người )
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Trên 10.5 Kg ( Trên 6 Người )
						.utilities-filter.pb-1.pt-1.add-border--bottom
							h4.title--primary Tiện Ích
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Khóa Trẻ Em
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Chức Năng Sấy
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Giặt Hơi Nước
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Tiết Kiệm Điện
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Khử Mùi Kháng Khuẩn
							.checkbox
								label
									input(type='checkbox', name='remember')
									|  Giặt Nước Nóng
		.button
			h1.title--primary.mb-1.text-capitalize các loai button 
			span.btn.btn--primary.mr-2 button
			span.btn.btn--secondary.mr-2 button
			span.btn.btn--danger.mr-2 button
			span.btn.btn--border.mr-2 button
			span.btn.btn-small.btn--primary.mr-2 button
			span.btn.btn-small.btn--secondary.mr-2 button
			span.btn.btn-small.btn--danger.mr-2 button
			span.btn.btn-small.btn--border.mr-2 button
		.icon-giathanh.mt-3
			h1.title--primary.mb-1.text-capitalize các icon
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-cart
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-money
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-heart
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-user
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-slice8
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-medal
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-truck
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-seach
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-right
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-left
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-hambuger-dots
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-compare
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-compare-2
			span.btn.btn--primary.mt-2.mr-2
				i.w-700.icon-mail
			.rating.mt-3
				span.fa.fa-star.checked
				span.fa.fa-star.checked
				span.fa.fa-star.checked
				span.fa.fa-star.checked
				span.fa.fa-star
		.title-color.mt-3
			h1.mb-1.title--primary.mb-1.text-capitalize các màu của title
			h3.mb-1.title--primary Header
			h3.mb-1.title--secondary Header 
			h3.mb-1.title--danger Header 
			h3.mb-1.title--default.add-bgcolor--primary Header 
			h3.mb-1.title--white.add-bgcolor--primary Header 
	.container.editor.mt-2.mb-2
		h2 Headings
		h1 Header one
		h2 Header two
		h3 Header three
		h4 Header four
		h5 Header five
		h6 Header six
		h2 Blockquotes
		p Single line blockquote:
		blockquote
			p Stay hungry. Stay foolish.
		p Multi line blockquote with a cite reference:
		blockquote
			p
				| People think focus means saying yes to the thing you’ve got to focus on. But that’s not what it means at all. It means saying no to the hundred other good ideas that there are. You have to pick carefully. I’m actually as proud of the things we haven’t done as the things I have done. Innovation is saying no to 1,000 things.
		p
			cite Steve Jobs
			|  – Apple Worldwide Developers’ Conference, 1997
		h2 Tables
		table.table.table-striped
			thead
				tr
					th Employee
					th Salary
					th
			tbody
				tr
					th
						a(href='http://example.org/') John Doe
					td $1
					td Because that’s all Steve Jobs needed for a salary.
				tr
					th
						a(href='http://example.org/') Jane Doe
					td $100K
					td For all the blogging she does.
				tr
					th
						a(href='http://example.org/') Fred Bloggs
					td $100M
					td Pictures are worth a thousand words, right? So Jane x 1,000.
				tr
					th
						a(href='http://example.org/') Jane Bloggs
					td $100B
					td With hair like that?! Enough said…
		h2 Definition Lists
		dl.dl-horizontal
			dt Definition List Title
			dd Definition list division.
			dt Startup
			dd
				| A startup company or startup is a company or temporary organization designed to search for a repeatable and scalable business model.
			dt #dowork
			dd
				| Coined by Rob Dyrdek and his personal body guard Christopher “Big Black” Boykins, “Do Work” works as a self motivator, to motivating your friends.
			dt Do It Live
			dd
				| I’ll let Bill O’Reilly will 
				a(title="We'll Do It Live", href='https://www.youtube.com/watch?v=O_HyZ5aW76c') explain
				|  this one.
		h2 Unordered Lists (Nested)
		ul
			li
				| List item one
				ul
					li
						| List item one
						ul
							li List item one
							li List item two
							li List item three
							li List item four
					li List item two
					li List item three
					li List item four
			li List item two
			li List item three
			li List item four
		h2 Ordered List (Nested)
		ol
			li
				| List item one
				ol
					li
						| List item one
						ol
							li List item one
							li List item two
							li List item three
							li List item four
					li List item two
					li List item three
					li List item four
			li List item two
			li List item three
			li List item four
		h2 HTML Tags
		p
			| These supported tags come from the WordPress.com code 
			a(title='Code', href='http://en.support.wordpress.com/code/') FAQ
			| .
		p
			strong Address Tag
		address
			| 1 Infinite Loop
			br
			|     Cupertino, CA 95014
			br
			|     United States
		p
			strong Anchor Tag (aka. Link)
		p
			| This is an example of a 
			a(title='Apple', href='http://apple.com') link
			| .
		p
			strong Abbreviation Tag
		p
			| The abbreviation 
			abbr(title='Seriously') srsly
			|  stands for “seriously”.
		p
			strong
				| Acronym Tag (
				em deprecated in HTML5
				| )
		p
			| The acronym 
			abbr(title='For The Win') ftw
			|  stands for “for the win”.
		p
			strong
				| Big Tag 
				strong
					| (
					em deprecated in HTML5
					| )
		p
			| These tests are a 
			strong big
			|  deal, but this tag is no longer supported in HTML5.
		p
			strong Cite Tag
		p
			| “Code is poetry.” —
			cite Automattic
		p
			strong Code Tag
		p
			| You will learn later on in these tests that 
			code word-wrap: break-word;
			|  will be your best friend.
		p
			strong Delete Tag
		p
			| This tag will let you 
			del strikeout text
			| , but this tag is no longer supported in HTML5 (use the 
			code <strike>
			|  instead).
		p
			strong Emphasize Tag
		p
			| The emphasize tag should 
			em italicize
			|  text.
		p
			strong Insert Tag
		p
			| This tag should denote 
			ins inserted
			|  text.
		p
			strong Keyboard Tag
		p
			| This scarcely known tag emulates 
			kbd keyboard text
			| , which is usually styled like the 
			code <code>
			|  tag.
		p
			strong Preformatted Tag
		p This tag styles large blocks of code.
		pre.
			\n.post-title {
			        margin: 0 0 5px;
			        font-weight: bold;
			        font-size: 38px;
			        line-height: 1.2;
			        and here's a line of some really, really, really, really long text, just to see how the PRE tag handles it and to find out how it overflows;
			    }		
		p
			strong Quote Tag
		p
			q Developers, developers, developers…
			|  –Steve Ballmer
		p
			strong
				| Strike Tag 
				strong
					| (
					em deprecated in HTML5
					| )
		p
			| This tag shows 
			span(style='text-decoration: line-through;') strike-through text
		p
			strong Strong Tag
		p
			| This tag shows 
			strong
				| bold
				strong  text.
		p
			strong Subscript Tag
		p
			| Getting our science styling on with H
			sub 2
			| O, which should push the “2” down.
		p
			strong Superscript Tag
		p
			| Still sticking with science and Isaac Newton’s E = MC
			sup 2
			| , which should lift the 2 up.
		p
			strong
				| Teletype Tag 
				strong
					| (
					em deprecated in HTML5
					| )
		p
			| This rarely used tag emulates teletype text, which is usually styled like the 
			code <code>
			|  tag.
		p
			strong Variable Tag
		p
			| This allows you to denote 
			var variables
			| .
		